<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Airship</title>
    <link rel="stylesheet" href="../../../packages/styles/dist/core/core.css">
    <script type="module" src="../../../packages/components/dist/airship/airship.esm.js"></script>
    <script nomodule="" src="../../../packages/components/dist/airship/airship.js"></script>
  </head>

  <body>
    <as-dropdown default-text="Dropdown" can-clear="true"></as-dropdown>

    <script>
      const dropdown = document.querySelector('as-dropdown');
      dropdown.options = [
        { text: 'All', value: 'all' },
        { text: 'Open', value: 'open' },
        { text: 'Unfulfilled', value: 'unfulfilled' },
        { text: 'Unpaid', value: 'unpaid' }
      ];
    </script>
  </body>
</html>
