@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-stacked-bar-widget {
  display: block;
  width: 100%;
  padding: 16px;
  background: var(--histogram-widget--background-color, $color-ui-01);

  svg {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 18px 17px 36px;
    overflow: visible;

    .plot {
      rect {
        cursor: pointer;
      }
    }
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
