@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-stacked-bar-widget {
  --stacked-bar-widget--background-color: var(--as--color--ui-01, #{$color-ui-01});

  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--stacked-bar-widget--background-color, #FFF);

  .figure {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 18px 8px 17px 30px;
    overflow: visible;

    .plot {
      rect {
        cursor: pointer;
      }
    }

    @import '../common/y-axis/as-y-axis.scss';
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
