@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-stacked-bar-widget {
  display: block;
  width: 100%;
  padding: 16px;
  background: var(--histogram-widget--background-color, $color-ui-01);

  .as-stacked-bar-widget__header {
    margin: 0;
    font: 16px/24px var(--font-family-base, Roboto, sans-serif);
  }

  .as-stacked-bar-widget__description {
    margin-bottom: 16px;
    color: var(--histogram-widget--description-color, #747474);
  }

  svg {
    box-sizing: border-box;
    width: 100%;
    padding: 18px 18px 17px 36px;
    overflow: visible;

    .plot {
      rect {
        cursor: pointer;
      }
    }
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
