.as-map-footer {
  --as--map-footer--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--map-footer--box--border-color: var(--as--color--ui-04, #{$color-ui-04});

  display: none;
  z-index: $z-index-1;
  width: 100%;
  height: 100%;
  background-color: var(--as--map-footer--background-color);
  pointer-events: auto;

  &--visible {
    display: initial;
    z-index: $z-index-4;
    overflow-x: auto;
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: initial;
    max-height: $bottom-bar-max-height;
    overflow-x: auto;
    overflow-y: hidden;

    .as-box {
      flex: 2 0;

      &--small,
      &--s {
        flex: 1 0;
      }

      &--medium,
      &--m {
        flex: 3 0;
      }

      &--large,
      &--l {
        flex: 4 0;
      }

      &--xlarge,
      &--xl {
        flex: 5 0;
      }

      &--border {
        border-right: 1px solid var(--as--map-footer--box--border-color);
      }

      &--scroll {
        overflow-y: auto;
      }
    }
  }
}
