.as-map-footer {
  --bottom-bar-bg-color: var(--as--color--ui-01, #{$color-ui-01});

  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--bottom-bar-bg-color);
  pointer-events: auto;

  &--visible {
    display: initial;
    overflow-x: auto;
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: initial;
    height: initial;
    max-height: $bottom-bar-max-height;
    overflow-x: auto;

    .as-container {
      flex: 1 0 auto;
      overflow: auto;

      &--scrollable {
        display: flex;
        flex-basis: auto;
        flex-direction: row;
        flex-grow: 1;
        flex-shrink: 1;
        overflow-x: auto;
      }

      &--border {
        border-right: 1px solid $color-ui-04;
      }
    }

    .as-box {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: auto;

      &--small,
      &--s {
        max-width: 128px;
      }

      &--medium,
      &--m {
        max-width: 256px;
      }

      &--large,
      &--l {
        max-width: 320px;
      }

      &--xlarge,
      &--xl {
        max-width: 400px;
      }
    }
  }
}
