@import "../core/_dev";

.as-badge {
  display: inline-flex;
  align-items: center;
  margin: get-spacing(2);
  padding: 0 get-spacing(2);
  border-radius: get-spacing(5);
  background-color: var(--as-color-badge-blue, #{$color-badge-blue});
  font: $font-body;

  i {
    cursor: pointer;
  }

  i:first-child {
    margin-right: get-spacing(2);
  }

  i:last-child {
    margin-left: get-spacing(2);
  }
}
