@import "../../../../../core/_dev";

.as-map-panels {
  --as-map-panels--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as-map-panels--element--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as-map-panels--element--shadow-color: var(--as--color--shadow, #{$color-shadow});

  display: none;
  position: absolute;
  z-index: $z-index-4;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--as-map-panels--background-color);

  &--visible {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: initial;
    background-color: initial;
    pointer-events: none;
  }
}

.as-panel {
  $panel-selector: &;

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: absolute;
    align-items: flex-start;
    padding-bottom: 4px;
    overflow-x: auto;
    pointer-events: auto;

    // Panels stack mode
    &--vertical {
      flex-direction: column;
      overflow-y: auto;

      #{$panel-selector}__element:not(:last-child) {
        margin-bottom: get-margin(2);
      }
    }

    // Panels alignment
    &--top {
      top: get-spacing(6);
      max-height: calc(100% - #{get-spacing(12)});
    }

    &--middle {
      top: 50%;
      max-height: calc(100% - #{get-spacing(12)});
      transform: translate3d(0, -50%, 0);
    }

    &--bottom {
      bottom: get-spacing(6);
      max-height: calc(100% - #{get-spacing(12)});
    }

    &--left {
      left: get-spacing(6);
      max-width: calc(100% - #{get-spacing(12)});
    }

    &--center {
      left: 50%;
      max-width: calc(100% - #{get-spacing(12)});
      transform: translate3d(-50%, 0, 0);
    }

    &--right {
      right: get-spacing(6);
      max-width: calc(100% - #{get-spacing(12)});
    }

    &--middle.as-panel--center {
      transform: translate3d(-50%, -50%, 0);
    }

    &__element {
      max-width: 200px;
      border-radius: 4px;
      background: var(--as-map-panels--element--background-color);
      box-shadow: 0 2px 8px 0 var(--as-map-panels--element--shadow-color);

      &:not(:last-child) {
        margin-right: get-spacing(2);
      }

      .as-box {
        @include padding(4);
      }
    }
  }
}
