/* stylelint-disable no-descending-specificity  */

@import "../core/_dev";

.as-input,
.as-textarea {
  --as--input--font: var(--as--font--body);
  // Default
  --as--input--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--input--color: var(--as--color--type-01, #{$color-type-01});
  --as--input--placeholder-color: var(--as--color--type-03, #{$color-type-03});
  --as--input--shadow-color: var(--as--color--ui-04, #{$color-ui-04});
  --as--input--hover--shadow-color: var(--as--color--primary, #{$color-primary});
  // Invalid
  --as--input--invalid--background-color: var(--as--color--error-alpha, #{$color-error-alpha});
  --as--input--invalid--color: var(--as--color--type-03, #{$color-type-02});
  --as--input--invalid-placeholder--color: var(--as--color--type-03, #{$color-type-02});
  --as--input--invalid-shadow-color: var(--as--color--error, #{$color-error});
  --as--input--invalid-hover--shadow-color: var(--as--color--error, #{$color-error});
  // Disabled
  --as--input--disabled--background-color: var(--as--color--ui-02, #{$color-ui-02});
  --as--input--disabled--color: var(--as--color--type-03, #{$color-type-03});
  --as--input--disabled-placeholder--color: var(--as--color--type-03, #{$color-type-02});
  --as--input--disabled-hover--shadow-color: var(--as--color--ui-04, #{$color-ui-04});
  // Read Only
  --as--input--readonly--background-color: var(--as--color--ui-02, #{$color-ui-02});
  --as--input--readonly--color: var(--as--color--type-02, #{$color-type-02});
  --as--input--readonly-placeholder--color: var(--as--color--type-02, #{$color-type-02});
  --as--input--readonly-hover--shadow-color: var(--as--color--ui-04, #{$color-ui-04});

  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  padding: get-spacing(2);
  transition: all 0.3s;
  border: 0;
  border-radius: get-spacing(1);
  background: var(--as--input--background-color);
  box-shadow: inset 0 0 0 1px var(--as--input--shadow-color);
  color: var(--as--input--color);
  font: var(--as--input--font);
  line-height: 1;

  &::placeholder {
    color: var(--as--input--placeholder-color);
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--as--color--complementary);
  }

  &:focus,
  &:hover:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--as--input--hover--shadow-color);
  }

  &:invalid {
    background: var(--as--input--invalid--background-color);
    box-shadow: inset 0 0 0 1px var(--as--input--invalid-shadow-color);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--input--invalid-shadow-color);
    }

    &::placeholder {
      color: var(--as--input--invalid-placeholder--color);
    }
  }

  &:disabled {
    background: var(--as--input--disabled--background-color);
    color: var(--as--input--disabled--color);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--input--disabled-hover--shadow-color);
    }

    &::placeholder {
      color: var(--as--input--disabled-placeholder--color);
    }
  }

  &:read-only {
    background: var(--as--input--readonly--background-color);
    color: var(--as--input--readonly--color);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--input--readonly-hover--shadow-color);
    }

    &::placeholder {
      color: var(--as--input--readonly-placeholder--color);
    }
  }
}

.as-textarea {
  resize: none;
}
