/* stylelint-disable no-descending-specificity  */

@import "../core/_dev";

.as-input,
.as-textarea {
  --as--input--background--invalid: #fef2ee;
  --as--input--color--placeholder: #d1d5d7;
  --as--input--color--disabled: #d1d5d7;
  --as--input--background--disabled: #f5f5f5;

  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  padding: get-spacing(2);
  transition: all 0.3s;
  border: 0;
  border-radius: get-spacing(1);
  background: var(--as--color--ui-01);
  box-shadow: inset 0 0 0 1px var(--as--color--ui-04);
  color: var(--as--color--type-01);
  font: var(--as--font--body);
  line-height: 1;

  &::placeholder {
    color: var(--as--color--ui-03);
  }

  &:hover {
    box-shadow: inset 0 0 0 1px var(--as--color--complementary);
  }

  &:focus,
  &:hover:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--as--color--primary);
  }

  &:invalid {
    background: var(--as--input--background--invalid);
    box-shadow: inset 0 0 0 1px var(--as--color---support-01);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--color---support-01);
    }

    &::placeholder {
      color: var(--as--input--color--placeholder);
    }
  }

  &:disabled {
    background: var(--as--input--background--disabled);
    color: var(--as--input--color--disabled);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--color--ui-04);
    }

    &::placeholder {
      color: var(--as--input--color--disabled);
    }
  }

  &:read-only {
    background: var(--as--color--ui-02);
    color: var(--as--color--type-02);

    &:hover,
    &:focus,
    &:hover:focus {
      box-shadow: inset 0 0 0 1px var(--as--color--ui-04);
    }

    &::placeholder {
      color: var(--as--color--type-02);
    }
  }
}

.as-textarea {
  resize: none;
}
