<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Generic Layout</title>
  <link rel="stylesheet" href="../../../../packages/styles/dist/airship.css">
  <script src="../../../../packages/components/dist/airship.js"></script>

  <!-- INCLUDE TYPOGRAFY -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CARTO.js -->
  <!-- Include Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <link href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" rel="stylesheet">
  <!-- Include CARTO.js -->
  <script src="https://libs.cartocdn.com/carto.js/v4.1.1/carto.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">
  <!-- / CARTO.js -->

</head>

<body class="as-app as-app--nav-top">
  <header class="as-toolbar">
    <button onclick="_toggleDrawer()" class="as-toolbar__item as-toolbar__toggle">
        <img src="https://material.io/tools/icons/static/icons/baseline-menu-24px.svg" alt="">
    </button>
    <li class="as-toolbar__item"> APP LOGO </li>

    <nav class="as-toolbar__actions">
      <ul>
        <li class="as-toolbar__item">
          <a href="http://www.google.es">SOME LINK</a>
        </li>
        <li class="as-toolbar__item">
          <img src="https://material.io/tools/icons/static/icons/baseline-add_location-24px.svg" alt="Action 2">
          <p class="as-toolbar__icon-text">Action 2</p>
        </li>
        <li class="as-toolbar__item">
          <img src="https://material.io/tools/icons/static/icons/baseline-account_circle-24px.svg" alt="Action 3">
          <p class="as-toolbar__icon-text">Action 3</p>
        </li>
        <li class="as-toolbar__item">
          <img src="https://material.io/tools/icons/static/icons/baseline-power_settings_new-24px.svg" alt="Action 4">
          <p class="as-toolbar__icon-text">Action 4</p>
        </li>
      </ul>
    </nav>
  </header>

  <main class="as-app-content">
    <div class="as-map-wrapper">
      <div id="map"></div>
    </div>
  </main>

  <script defer src="../common/map.js"></script>
  <script defer src="../common/tabs.js"></script>
</body>

</html>
