@import 'lib/_reset';
@import 'variables/_variables';

// Layout Elements
@import 'layout/_generic';
@import 'layout/_floating-containers';
@import 'layout/_sidebar';
@import 'layout/toolbar/_toolbar';

:root {
  --brand-01-color: #{$brand-01-color};
  --brand-02-color: #{$brand-02-color};
  --brand-03-color: #{$brand-03-color};
}
