@import 'lib/_reset';
@import 'variables/_variables';

// Layout Elements
@import 'layout/_bottom-bar';
@import 'layout/_map';
@import 'layout/_sidebar';
@import 'layout/_toolbar';

:root {
  --primary-color: #{$primary-color};
}

.airship-app {
  position: relative;
  width: 100vw;
  height: 100vh;

  border: 2px solid red;
}
