.as-sidebar {
  --sidebar-bg-color: var(--as-color-ui-01, #{$color-ui-01});
  display: flex;
  position: absolute;
  z-index: 2;
  top: 0;
  flex: 0 1 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity 0.3s;
  opacity: 0;
  background-color: var(--sidebar-bg-color);

  &--left {
    left: -100%;
    box-shadow: rgba($color-type-01, 0.16) 1px 0 4px 0;

    &--visible {
      left: 0;
      opacity: 1;
    }
  }

  &--right {
    right: -100%;
    box-shadow: rgba($color-type-01, 0.16) 0 1px 4px 0;

    &--visible {
      right: 0;
      opacity: 1;
    }
  }

  // Containers
  .as-box {
    @include margin(10 10 0 10);
  }

  .as-container {
    flex: 0 1 auto;
  }

  .as-container--scrollable {
    flex: 0 1 auto;
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    position: initial;
    top: 0;
    flex: 0 0 auto;
    width: 260px;
    height: 100%;
    overflow-y: initial;
    opacity: 1;

    &--l {
      width: 360px;
    }

    &--xl {
      width: 460px;
    }

    // Containers
    .as-container {
      flex-grow: 0;
    }

    .as-container--scrollable {
      flex-grow: 1;
      overflow-y: auto;
    }

    .as-container--border {
      border-bottom: 1px solid $color-ui-04;
    }

    .as-box {
      @include margin(10 10 10 10);
    }
  }
}
