.as-sidebar {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s;
  opacity: 0;
  background-color: white;

  &--left {
    left: -100%;
    box-shadow: rgba(44, 44, 44, 0.16) 1px 0 4px 0;

    &.is-visible {
      left: 0;
      opacity: 1;
    }
  }

  &--right {
    right: -100%;
    box-shadow: rgba(44, 44, 44, 0.16) 0 1px 4px 0;

    &.is-visible {
      right: 0;
      opacity: 1;
    }
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    position: initial;
    top: 0;
    width: 260px;
    height: 100%;
    opacity: 1;

    &--l {
      width: 360px;
    }

    &--xl {
      width: 460px;
    }
  }
}
