.as-sidebar {
  --as--sidebar--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--sidebar--box--border-color: var(--as--color--ui-04, #{$color-ui-04});
  --as--sidebar--shadow-color: var(--as--color--shadow, #{$color-shadow});

  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  flex: 0 1 auto;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transition: opacity 0.3s;
  background-color: var(--as--sidebar--background-color);

  &--left {
    order: -1;
    box-shadow: var(--as--sidebar--shadow-color) 1px 0 4px 0;

    &.as-sidebar--visible {
      display: flex;
      z-index: 4;
    }
  }

  &--right {
    order: 9999;
    box-shadow: var(--as--sidebar--shadow-color) -1px 0 4px 0;

    &.as-sidebar--visible {
      display: flex;
      z-index: 4;
    }
  }

  .as-container {
    flex: 0 1 auto;

    &--scrollable {
      flex: 0 1 auto;
    }
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: initial;
    top: 0;
    flex: 0 0 auto;
    width: 260px;
    height: 100%;

    &--l {
      width: 360px;
    }

    &--xl {
      width: 460px;
    }

    // Containers
    .as-container {
      flex-grow: 0;

      &--scrollable {
        flex-grow: 1;
        overflow-y: auto;
      }
    }

    .as-box {
      &--border {
        border-bottom: 1px solid var(--as--sidebar--box--border-color);
      }
    }
  }
}
