@import '../../../../styles/src/core/_dev';

as-switch {
  display: inline-block;
  position: relative;

  .as-switch {
    display: flex;
    align-items: center;
  }

  .as-switch__label {
    margin: 0 0 0 get-spacing(1);
  }

  .as-switch__thumb {
    position: absolute;
    top: 50%;
    left: get-spacing(1);
    transform: translate3d(0, -50%, 0);
    transition: opacity 0.2s ease;
    opacity: 0;
    color: var(--as--color--ui-01, #{$color-ui-01});
    pointer-events: none;
  }

  .as-switch__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  .as-switch__input + .as-switch__toggle {
    display: block;
    position: relative;
    width: get-spacing(8);
    height: get-spacing(4);
    transition: all 0.4s ease;
    border-radius: get-spacing(10);
    outline: 0;
    background: var(--as--color--type-03, #{$color-type-03});
    cursor: pointer;
    user-select: none;
  }

  .as-switch__toggle:hover {
    background: var(--as--color--complementary, #{$color-complementary});
  }

  .as-switch__input + .as-switch__toggle::after {
    content: '';
    display: block;
    position: relative;
    top: 2px;
    width: get-spacing(3);
    height: get-spacing(3);
    transform: translateX(2px);
    transition: all 0.2s ease;
    border-radius: 50%;
    background: var(--as--color--ui-01, #{$color-ui-01});
  }

  .as-switch__input[disabled] + .as-switch__toggle {
    background: var(--as--color--ui-02, #{$color-ui-02});
    box-shadow: inset 0 0 0 1px var(--as--color--ui-03, #{$color-ui-03});
    cursor: not-allowed;
  }

  .as-switch__input[disabled] + .as-switch__toggle::after {
    background: var(--as--color--ui-04, #{$color-ui-04});
  }

  .as-switch__input:checked + .as-switch__toggle,
  .as-switch__input:checked + .as-switch__toggle:hover {
    background: var(--as--color--primary, #{$color-primary});
  }

  .as-switch__input:checked + .as-switch__toggle::after {
    transform: translateX(18px);
  }

  .as-switch__input:checked ~ svg {
    opacity: 1;
  }
}
