as-switch {
  /* The switch - the box around the slider */
  .switch {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }

  /* The slider */
  .slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.4s;
    border-radius: 34px;
    background-color: #CCC;
    cursor: pointer;
  }

  .slider::before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 4px;
    width: 26px;
    height: 26px;
    transition: 0.4s;
    border-radius: 50%;
    background-color: white;
  }

  input:checked + .slider {
    background-color: #49D49D;
    background-color: var(--primary-color, #49D49D);
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #49D49D;
    box-shadow: 0 0 1px var(--primary-color, #49D49D);
  }

  input:checked + .slider::before {
    transform: translateX(26px);
  }
}
