.as-bottom-bar {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;

  &--visible {
    display: block;
  }


  @media all and (min-width: $tablet-breakpoint) {
    display: initial;
    z-index: 1;
    top: initial;
    bottom: 0;
    height: initial;
    max-height: 200px;
  }
}
