.airship-app {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .as-toolbar-main {
    width: 100%;
  }

  @media all and (min-width: $tablet-breakpoint) {
    // MODIFIERS
    &--nav-left {
      flex-direction: row;

      .as-toolbar-main {
        width: 60px;
        height: 100%;
        overflow-x: hidden;
      }
    }

    &--nav-right {
      flex-direction: row-reverse;

      .as-toolbar-main {
        width: 60px;
        height: 100%;
        overflow-x: hidden;
      }
    }

    &--nav-left,
    &--nav-right {
      .as-toolbar-actions {
        flex-direction: column;
        justify-content: flex-start;
      }
    }
  }
}

.as-app-container {
  display: flex;
  flex: 1;
  height: 100%;
}

.as-map-wrapper {
  position: relative;
  flex: 1;
}
