@import 'main/_main';
@import 'sidebar/_sidebar';
@import 'toolbar/_toolbar';

body.as-app-body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.as-app {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .as-content {
    display: flex;
    position: relative;
    flex: 1;
    height: 100%;
  }

  .as-toolbar {
    width: 100%;
  }

  @media all and (min-width: $tablet-breakpoint) {
    &--nav-left {
      flex-direction: row;
    }

    &--nav-right {
      flex-direction: row-reverse;
    }

    &--nav-left,
    &--nav-right {
      .as-toolbar {
        flex-direction: column;
        align-items: center;
        width: $toolbar-size;
        height: 100%;
        overflow-x: hidden;
      }

      img {
        max-width: 100%;
        object-fit: contain;
      }

      .as-toolbar__group,
      .as-toolbar__actions ul,
      .as-toolbar__actions {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
    }
  }
}
