.as-toolbar {
  background-color: var(--brand-02-color, $brand-02-color);

  &--vertical {
    width: 60px;
    height: 100%;
  }

  &--horizontal {
    width: 100%;
    height: 60px;
  }

  &--bg-brand-1 {
    background-color: var(--brand-01-color, $brand-01-color);
  }

  &--bg-brand-2 {
    background-color: var(--brand-02-color, $brand-02-color);
  }

  &--bg-brand-3 {
    background-color: var(--brand-03-color, $brand-03-color);
  }
}
