.as-toolbar {
  padding: 12px;
  background-color: var(--brand-02-color, $brand-02-color);

  &--bg-brand-1 {
    background-color: var(--brand-01-color, $brand-01-color);
  }

  &--bg-brand-2 {
    background-color: var(--brand-02-color, $brand-02-color);
  }

  &--bg-brand-3 {
    background-color: var(--brand-03-color, $brand-03-color);
  }

  // Elements
  &__item {
    max-width: 100%;
    max-height: 100%;
    padding: 4px;
  }

  // Media queries
  @media all and (min-width: $tablet-breakpoint) {

  }

  @media all and (min-width: $desktop-breakpoint) {}
}
