<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script src="../../../packages/components/dist/airship.js"></script>
</head>

<body>
  <as-tabs>
    <div role="tabpanel">
      <h1>TAB 0</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum explicabo omnis sed, perferendis maiores
        itaque debitis perspiciatis repellendus adipisci deserunt modi ad atque! Obcaecati beatae, rem laborum a
        blanditiis eligendi.
      </p>
    </div>
    <div role="tabpanel" data-title="Custom title">
      <h1>TAB 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum explicabo omnis sed, perferendis maiores
        itaque debitis perspiciatis repellendus adipisci deserunt modi ad atque! Obcaecati beatae, rem laborum a
        blanditiis eligendi.
      </p>
    </div>
    <div role="tabpanel">
      <h1>TAB 2</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum explicabo omnis sed, perferendis maiores
        itaque debitis perspiciatis repellendus adipisci deserunt modi ad atque! Obcaecati beatae, rem laborum a
        blanditiis eligendi.
      </p>
    </div>
  </as-tabs>
</body>

</html>
