<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sidebar</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script src="../../../packages/components/dist/airship.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CARTO.js -->
  <!-- Include Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <link href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" rel="stylesheet">
  <!-- Include CARTO.js -->
  <script src="https://libs.cartocdn.com/carto.js/v4.1/carto.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">
  <!-- / CARTO.js -->

</head>

<body class="as-app">
  <div role="tablist" class="as-toolbar-tabs as-tabs">
    <button onclick="showMap(event)" role="tab" class="as-tabs__item as-tabs__item--active">MAP</button>
    <button onclick="showLegends(event)" role="tab" class="as-tabs__item">LEGENDS</button>
    <button onclick="showBottom(event)" role="tab" class="as-tabs__item">BOTTOM</button>
  </div>

  <main class="as-app-content">
    <div class="as-map-wrapper">
      <div class="as-map">
        <div id="map"></div>
        <div class="as-panels" data-usage="legends">
          <div class="as-panel as-panel--top">
            <div class="as-panel__element">
              Top Left legend growing horizontally
            </div>
            <div class="as-panel__element">
              Some content at Top Left
            </div>
          </div>
          <div class="as-panel as-panel--top as-panel--right as-panel--vertical">
            <div class="as-panel__element">
              Top Right legend growing vertically
            </div>
            <div class="as-panel__element">
              Some other content at Top Right
            </div>
          </div>
          <div class="as-panel as-panel--bottom">
            <div class="as-panel__element">
              Bottom Left content
            </div>
          </div>
        </div>
      </div>
      <div class="as-bottom-bar" data-usage="bottom">
        <h1>LEGEND</h1>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </main>

  <script defer src="../common/map.js"></script>
  <script defer src="../common/tabs.js"></script>
</body>

</html>
