@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-histogram-widget {
  $label-height: 20px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--stacked-bar-widget-background-color, #FFF);

  .as-histogram-widget__wrapper {
    display: flex;
    position: relative;
    flex: 1;
  }

  .as-histogram-widget__clear {
    margin-top: get-spacing(2);
  }

  .as-histogram-widget__tooltip {
    position: fixed;
    opacity: 0;
  }

  .figure {
    $basePaddingLeft: 30;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 18px 8px 17px #{$basePaddingLeft}px;
    overflow: visible;

    &--has-x-label {
      margin-bottom: 25px;
    }

    &--has-y-label {
      padding-left: #{$basePaddingLeft + 25}px;
    }

    text {
      fill: $color-type-01;
    }

    .brush {
      .selection {
        stroke: none;
        fill: none;
      }
    }

    .bar {
      opacity: 0.7;
      cursor: pointer;
    }

    @import '../common/y-axis/as-y-axis.scss';

    .plot {
      rect {
        cursor: pointer;
      }
    }

    .x-axis {
      .domain,
      .tick {
        display: none;
      }
    }

    .handle--wrapper {
      opacity: 0;
    }

    .handle--custom {
      width: 6px;
      height: 28px;
      stroke-linecap: round;
      stroke: #1785FB;
      fill: white;
      cursor: ew-resize;
      pointer-events: none;
    }

    .handle--grab {
      transform: translateY(12px);
    }

    .grab-line {
      stroke: #CCC;
    }

    .bottomline {
      stroke: var(--as--color--primary, #{$color-primary});
    }
  }

  .as-histogram-widget__wrapper--disabled {
    svg .bar {
      cursor: inherit;
    }
  }

  .x-label,
  .y-label {
    color: $color-type-01;
    font: $font-caption;
    text-align: center;
  }

  .x-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .y-label {
    position: absolute;
    top: calc(50% - #{$label-height});
    left: 0;
    transform: rotate(-90deg);
    transform-origin: center;
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
