@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-histogram-widget {
  $label-height: 20px;
  display: block;
  width: 100%;
  background: var(--histogram-widget--background-color, $color-ui-01);

  .as-histogram-widget__wrapper {
    position: relative;
  }

  .as-histogram-widget__clear {
    margin-top: get-spacing(2);
  }

  .as-histogram-widget__tooltip {
    @extend .as-tooltip;
    position: absolute;
    opacity: 0;

    &::after {
      opacity: 0;
    }
  }

  svg {
    display: block;
    width: 100%;
    overflow: visible;

    .brush {
      .selection {
        stroke: none;
        fill: none;
      }
    }

    .bar {
      transition: all 0.3s linear;
      opacity: 0.7;
      cursor: pointer;
    }

    .xAxis {
      .domain {
        display: none;
      }

      .tick {
        line {
          display: none;
        }
      }
    }

    .yAxis {
      .domain {
        display: none;
      }
    }

    .yAxis .tick {
      line {
        stroke: var(--as--color--type-02, #{$color-type-02});
        opacity: 0.1;
      }

      &:first-of-type {
        line {
          opacity: 0.5;
        }
      }
    }

    text {
      fill: $color-type-01;
    }

    .handle--wrapper {
      opacity: 0;
    }

    .handle--custom {
      width: 6px;
      height: 28px;
      stroke-linecap: round;
      stroke: #1785FB;
      fill: white;
      cursor: ew-resize;
      pointer-events: none;
    }

    .handle--grab {
      transform: translateY(12px);
    }

    .grab-line {
      stroke: #CCC;
    }

    .bottomline {
      stroke: var(--as--color--primary, #{$color-primary});
    }
  }

  .as-histogram-widget__wrapper--disabled {
    svg .bar {
      cursor: inherit;
    }
  }

  .x-label,
  .y-label {
    color: $color-type-01;
    font: $font-caption;
    text-align: center;
  }

  .y-label-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: $label-height;
    left: 0;
    touch-action: none;
  }

  .x-label {
    position: relative;
  }

  .y-label {
    position: absolute;
    top: calc(50% - #{$label-height});
    left: -12px;
    transform: rotate(-90deg);
    transform-origin: center;
  }
}
