@import '../../../../styles/src/core/_dev';

as-histogram-widget {
  svg {
    display: block;

    .bar {
      transition: all 0.3s linear;
      fill: $color-primary;

      &:hover {
        fill: darken($color-primary, 16%);
      }
    }

    .yAxis .tick {
      line {
        stroke: $color-ui-04;
        opacity: 0.5;
      }

      &:first-of-type {
        line {
          opacity: 1;
        }
      }
    }
    
    text {
      fill: $color-ui-04;
    }
  }
}