@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

as-histogram-widget {
  --as-histogram-widget--background-color: var(--as--color--ui-01);
  $label-height: 20px;

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $widget-min-width;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--as-histogram-widget--background-color, #FFF);

  .as-histogram-widget__wrapper {
    display: flex;
    position: relative;
    flex: 1;

    /* https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
    min-height: 0;
  }

  .as-histogram-widget--categorical {
    .x-axis {
      opacity: 0;
    }
  }

  .figure {
    $basePaddingLeft: 30;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 18px 8px 17px #{$basePaddingLeft}px;
    overflow: visible;

    &--has-x-label {
      margin-bottom: 25px;
    }

    &--has-y-label {
      padding-left: #{$basePaddingLeft + 25}px;
    }

    text {
      fill: var(--as--color--type-01);
    }

    .brush {
      .selection {
        stroke: none;
        fill: none;
      }
    }

    .foreground-bar {
      cursor: pointer;
    }

    @import '../common/y-axis/as-y-axis.scss';

    .x-axis {
      .domain,
      .tick line {
        display: none;
      }
    }

    .y-axis .tick:first-of-type line {
      opacity: 0.5;
    }

    .handle--wrapper {
      opacity: 0;
    }

    .handle--custom {
      stroke-linecap: round;
      stroke: var(--as--color--secondary, #{$color-secondary});
      fill: white;
      cursor: ew-resize;
      pointer-events: none;
    }

    .grab-line {
      stroke: #CCC;
    }

    .bottomline {
      stroke: var(--as--color--secondary, #{$color-secondary});
    }
  }

  .as-histogram-widget__wrapper--disabled {
    svg .bar {
      cursor: inherit;
    }
  }

  .as-histogram-widget__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: get-spacing(2);
  }

  .as-histogram-widget__selection {
    margin: 0;
  }

  .x-label,
  .y-label {
    color: var(--as--color--type-01);
    font: var(--as--font--caption);
    text-align: center;
  }

  .x-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .y-label {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: get-spacing(1);
    transform: rotate(-90deg) translate(-50%);
    transform-origin: 0 0;
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
