@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/tooltip/tooltip';

$label-height: 20px;

as-histogram-widget {
  --as--histogram-widget--background-color: var(--as--color--ui-01, #FFF);
  --as--histogram-widget--figure--text-color: var(--as--color--type-01, #{$color-type-01});
  --as--histogram-widget--figure--stroke-color: var(--as--color--primary, #{$color-primary});
  --as--histogram-widget--label-color: var(--as--color--type-01, #{$color-type-01});
  --as--histogram-widget--label-font: var(--as--font--caption);

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $widget-min-width;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--as--histogram-widget--background-color);

  .as-histogram-widget__wrapper {
    display: flex;
    position: relative;
    flex: 1;

    /* https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox */
    min-height: 0;
  }

  .as-histogram-widget__clear {
    margin-top: get-spacing(2);
  }

  .figure {
    $basePaddingLeft: 30;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    min-height: 0;
    padding: 18px 8px 17px #{$basePaddingLeft}px;
    overflow: visible;

    &--has-x-label {
      margin-bottom: 25px;
    }

    &--has-y-label {
      padding-left: #{$basePaddingLeft + 25}px;
    }

    text {
      fill: var(--as--histogram-widget--figure--text-color);
    }

    .brush {
      .selection {
        stroke: none;
        fill: none;
      }
    }

    .bar {
      opacity: 0.7;
      cursor: pointer;
    }

    @import '../common/y-axis/as-y-axis.scss';

    .plot {
      rect {
        cursor: pointer;
      }
    }

    .x-axis {
      .domain,
      .tick line {
        display: none;
      }
    }

    .handle--wrapper {
      opacity: 0;
    }

    .handle--custom {
      stroke-linecap: round;
      stroke: var(--as--histogram-widget--stroke--text-color);
      fill: white;
      cursor: ew-resize;
      pointer-events: none;
    }

    .handle--grab {
      transform: translateY(5px);
    }

    .grab-line {
      stroke: #CCC;
    }

    .bottomline {
      stroke: var(--as--histogram-widget--stroke--text-color);
    }
  }

  .as-histogram-widget__wrapper--disabled {
    svg .bar {
      cursor: inherit;
    }
  }

  .x-label,
  .y-label {
    color: var(--as--histogram-widget--label-color);
    font: var(--as--histogram-widget--label-font);
    text-align: center;
  }

  .x-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .y-label {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: get-spacing(1);
    transform: rotate(-90deg) translate(-50%);
    transform-origin: 0 0;
  }

  [role="tooltip"] {
    display: none;
    position: fixed;
    transform: translate(-50%, -120%);
    pointer-events: none;
  }
}
