.DS_Store
.env
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
*-out.png
*.lock
*.log
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
examples/**/dist
log.txt
node_modules
node_modules/
packages/components/dist
packages/styles/dist
Thumbs.db
UserInterfaceState.xcuserstate
www/
