.DS_Store
.env
.idea/
.sass-cache/
.screenshots
.stencil/
.versions/
.vscode/
*.lock
*.log
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
dist/
log.txt
node_modules
node_modules/
Thumbs.db
UserInterfaceState.xcuserstate
www/
