.DS_Store
.env
.idea/
.sass-cache/
.stencil/
.versions/
.vscode/
*-out.png
*.lock
*.log
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
dist/
log.txt
node_modules
node_modules/
Thumbs.db
UserInterfaceState.xcuserstate
www/
backstop_data/bitmaps_test/
backstop_data/ci_report/
backstop_data/html_report/