// -- Background colors
.as-bg {
  // Brand
  &--primary {
    background-color: var(--as-color-primary, #{$color-primary}) !important;
  }

  &--secondary {
    background-color: var(--as-color-secondary, #{$color-secondary}) !important;
  }

  &--as-complementary {
    background-color: var(--as-color-complementary, #{$color-complementary}) !important;
  }

  // UI
  &--ui-01 {
    background-color: var(--as-color-ui-01, #{$color-ui-01}) !important;
  }

  &--ui-02 {
    background-color: var(--as-color-ui-02, #{$color-ui-02}) !important;
  }

  &--ui-03 {
    background-color: var(--as-color-ui-03, #{$color-ui-03}) !important;
  }

  &--ui-04 {
    background-color: var(--as-color-ui-04, #{$color-ui-04}) !important;
  }

  // Support
  &--success,
  &--support-03 {
    background-color: var(--as-color-support-03, #{$color-support-03}) !important;
  }

  &--warning,
  &--support-02 {
    background-color: var(--as-color-support-02, #{$color-support-02}) !important;
  }

  &--error,
  &--support-01 {
    background-color: var(--as-color-support-01, #{$color-support-01}) !important;
  }
}
