body {
  font-family: 'Roboto', sans-serif;
}

.Column {
  padding: 10px;
  background-color: skyblue;
}

.Panel {
  padding: 20px 10px;
}

.Content {
  background: #fff;
  padding: 20px;
}

[data-component='Button'] + * {
  margin-top: 10px;
}
