@import '../../../../../styles/src/core/_dev';

as-basic-legend {
  .as-basic-legend--wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  & .as-basic-legend--figure--wrapper {
    width: var(--as--basic--legend--figure-width);
    margin-right: get-spacing(2);
  }

  .as-basic-legend--wrapper:not(.as-basic-legend--wrapper-horizontal) > .as-basic-legend--entry:not(:first-child) {
    margin-top: get-spacing(3);
  }

  .as-basic-legend--wrapper-horizontal {
    flex-direction: row;
    align-items: center;
  }

  .as-basic-legend--wrapper-horizontal > .as-basic-legend--entry {
    margin-right: get-spacing(3);
  }
}