@import '../../../../styles/src/core/_dev';

as-range-slider {
  --slider--rail-color: #{$color-ui-03};
  --slider--range-color: #{$color-primary};

  display: block;

  .as-range-slider__rail {
    display: flex;
    position: relative;
    width: 100%;
    height: 12px;

    &::before {
      content: ' ';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      width: 100%;
      height: 2px;
      transform: translate3d(0, -50%, 0);
      background-color: var(--slider--rail-color, #{$color-ui-03});
    }
  }

  .as-range-slider__thumb {
    position: absolute;
    z-index: 2;
    width: 12px;
    height: 12px;
    transition: transform 200ms ease, opacity 200ms ease;
    border: 1px solid #1785FB;
    border-radius: 50%;
    background: #FFF;
    cursor: move;

    &:hover {
      transform: scale(1.33);
    }
  }

  .as-range-slider__thumb + .as-range-slider__thumb {
    &:hover {
      transform: scale(1.33);
    }
  }

  .as-range-slider__value {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translate3d(-53%, 0, 0);
    pointer-events: none;
  }

  .as-range-slider__range-bar {
    position: absolute;
    z-index: 1;
    top: 50%;
    height: 2px;
    transform: translate3d(0, -50%, 0);
    background-color: var(--slider--range-color, #{$color-primary});
  }
}
