@import '../../../../styles/src/core/_dev';

as-time-series-widget {
  --as--time-series--line-color: var(--as--color--primary, #{$color-primary});

  display: flex;
  align-items: center;
  height: 100%;

  .play-button {
    margin-right: get-spacing(4);
    cursor: pointer;
  }

  .as-time-series--scrubber,
  .as-time-series--line {
    stroke: var(--as--time-series--line-color);
    fill: var(--as--time-series--line-color);
  }

  .as-time-series--scrubber,
  .as-time-series--line,
  .as-time-series--track {
    cursor: pointer;
  }
}
