@import '../../../../styles/src/core/_dev';

as-time-series-widget {
  display: flex;
  align-items: center;
  height: 100%;

  .play-button {
    margin-right: get-spacing(4);
    cursor: pointer;
  }

  .as-time-series--scrubber,
  .as-time-series--line {
    stroke: RGB(var(--as--color--primary, #{$color-primary}));
    fill: RGB(var(--as--color--primary, #{$color-primary}));
  }

  .as-time-series--scrubber,
  .as-time-series--line,
  .as-time-series--track {
    cursor: pointer;
  }
}
