@import '../../../../styles/src/core/_dev';

as-time-series-widget {
  --as--time-series--line-color: var(--as--color--primary, #{$color-primary});
  --as-histogram-widget--background-color: var(--as--color--ui-01);

  display: flex;
  align-items: flex-end;
  height: 100%;
  background: var(--as-histogram-widget--background-color, #FFF);

  as-histogram-widget {
    overflow: unset;
  }

  &.as-time-series--animated as-histogram-widget {
    as-widget-header,
    as-widget-selection,
    .content {
      margin-left: -32px;
    }
  }

  .as-time-series--play-button {
    margin-bottom: 2px;
    cursor: pointer;
  }

  .as-time-series--play-button-hidden {
    opacity: 0;
  }

  .as-time-series--play-button-x-label {
    margin-bottom: 27px;
  }

  .as-time-series--scrubber,
  .as-time-series--line {
    stroke: var(--as--time-series--line-color);
    fill: var(--as--time-series--line-color);
  }

  .as-time-series--scrubber,
  .as-time-series--line,
  .as-time-series--track {
    cursor: pointer;
  }
}
