<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Layout</title>
  <link rel="stylesheet" href="../../packages/styles/dist/airship.css">
  <script src="../../packages/components/dist/airship.js"></script>


</head>

<body class="as-app">
  <header class="as-toolbar"></header>

  <main class="as-app-content">

    <aside class="as-sidebar as-sidebar--left" style="background: #80B622;">

    </aside>

    <div class="as-map-wrapper" style="background: #B5E0F9;">
      <!-- Put your map here -->
    </div>

    <aside class="as-sidebar as-sidebar--right" style="background: #80B622;">

    </aside>

  </main>
</body>

</html>
