<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Layout</title>
  <link rel="stylesheet" href="../../packages/styles/dist/airship.css">
  <script src="../../packages/components/dist/airship.js"></script>
  <!-- Include Mapbox GL JS -->
  <script src="https://libs.cartocdn.com/mapbox-gl/v0.48.0-carto1/mapbox-gl.js"></script>
  <!-- Include Mapbox GL CSS -->
  <link href="https://libs.cartocdn.com/mapbox-gl/v0.48.0-carto1/mapbox-gl.css" rel="stylesheet" />

  <style>
    .map-area-text {
      position: absolute;
      z-index: 10;
      top: 24px;
      left: 8px;
      padding: 8px;
      background-color: #FFF;
    }

    .panel-text {
      margin-right: 8px;
      padding: 8px;
      background-color: #FFF;
    }
  </style>
</head>

<body class="as-app-body as-app">

  <header class="as-toolbar">
    <div class="as-toolbar__item as-title">TOOLBAR</div>
  </header>
  <nav class="as-tabs"></nav>

  <div class="as-content">
    <aside class="as-sidebar as-sidebar--left">
      <div class="as-container">
        <div class="as-box as-title">
          LEFT SIDEBAR
        </div>
      </div>
    </aside>

    <main class="as-main">
      <div class="as-map-area">
        <div class="map-area-text as-title">MAP</div>
        <div id="map"></div>

        <div class="as-map-panels">
          <div class="as-panel as-panel--top as-panel--right">
            <div class="as-title panel-text">MAP PANELS -> </div>
            <div class="as-panel__element as-p--32 as-bg--warning"></div>
            <div class="as-panel__element as-p--32 as-bg--success"></div>
          </div>
        </div>

      </div>
      <footer class="as-map-footer as-bg--complementary" style="height: 100px;">
        <div class="as-box as-title as-color--type-04">
          MAP FOOTER
        </div>
      </footer>
    </main>

    <aside class="as-sidebar as-sidebar--right">
      <div class="as-container">
        <div class="as-box as-title">
          RIGHT SIDEBAR
        </div>
      </div>
    </aside>
  </div>

  <!-- Basic CARTO-VL MAP -->
  <script>
    const map = new mapboxgl.Map({
      container: 'map',
      style: 'https://basemaps.cartocdn.com/gl/voyager-gl-style/style.json',
      center: [0, 30],
      zoom: 2,
      scrollZoom: false,
      dragRotate: false,
      touchZoomRotate: false
    });

  </script>
</body>

</html>
