<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Generic Layout</title>
  <link rel="stylesheet" href="../../packages/styles/dist/airship.css">
  <script src="../../packages/components/dist/airship.js"></script>

  <!-- INCLUDE TYPOGRAFY -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- CARTO.js -->
  <!-- Include Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <link href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" rel="stylesheet">
  <!-- Include CARTO.js -->
  <script src="https://libs.cartocdn.com/carto.js/v4.1.1/carto.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">
  <!-- / CARTO.js -->

</head>

<body class="as-app as-app--nav-top">
  <header class="as-toolbar">
    <img onclick="_toggleDrawer()" class="as-toolbar__item as-toolbar__menu-toggle" src="https://material.io/tools/icons/static/icons/baseline-menu-24px.svg" alt="">
    <!-- <span onclick="_toggleDrawer()" class="as-toolbar__item as-toolbar__menu-toggle">
      <i class="as-icon__hamburger-menu"></i>
    </span> -->

    <nav class="as-toolbar__actions">
      <span class="as-toolbar__item">
        <img src="https://material.io/tools/icons/static/icons/baseline-fingerprint-24px.svg" alt="Ajustes">
        <p class="as-toolbar__icon-text">Ajustes</p>
      </span>
      <span class="as-toolbar__item">
        <img src="https://material.io/tools/icons/static/icons/baseline-add_location-24px.svg" alt="Ajustes">
        <p class="as-toolbar__icon-text">Ajustes</p>
      </span>
      <span class="as-toolbar__item">
        <img src="https://material.io/tools/icons/static/icons/baseline-account_circle-24px.svg" alt="User">
        <p class="as-toolbar__icon-text">User</p>
      </span>
      <span class="as-toolbar__item">
        <img src="https://material.io/tools/icons/static/icons/baseline-power_settings_new-24px.svg" alt="Rendimiento">
        <p class="as-toolbar__icon-text">Rendimiento</p>
      </span>
    </nav>
  </header>

  <nav class="as-toolbar-tabs">
    <span onclick="_showTab1(event)" class="as-toolbar-tabs__item as-toolbar-tabs__item--active">MAP</span>
    <span onclick="_showTab0(event)" class="as-toolbar-tabs__item">LEFT</span>
    <span onclick="_showTab2(event)" class="as-toolbar-tabs__item">RIGHT</span>
    <span onclick="_showTab3(event)" class="as-toolbar-tabs__item">PANELS</span>
  </nav>

  <div class="as-app-content">
    <aside class="as-sidebar as-sidebar--left">
      LEFT-SIDEBAR
    </aside>

    <div class="as-map-wrapper">
      <div id="map"></div>
      <div class="as-panels">

        <div class="as-panels--right as-panels--h">
          <div class="as-panels__element">
            <p>Title</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus nam quam necessitatibus omnis, est sequi rem
              quibusdam molestiae, at saepe odit voluptatem quae debitis consequatur iste ducimus quaerat dolorum.
            </p>
          </div>
          <div class="as-panels__element"> PANEL 1 </div>
        </div>

        <div class="as-panels--mid-right as-panels--v">
          <div class="as-panels__element">
            <p>Title</p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore possimus nam quam necessitatibus omnis, est sequi rem
              quibusdam molestiae, at saepe odit voluptatem quae debitis consequatur iste ducimus quaerat dolorum.
            </p>
          </div>
          <div class="as-panels__element"> PANEL 1 </div>
        </div>

        <div class="as-panels__bottom">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo delectus ullam laudantium necessitatibus pariatur repellendus
          nemo ipsam minus. Delectus quidem sequi recusandae culpa deleniti molestias amet consequatur aspernatur eos exercitationem.
        </div>
      </div>
    </div>

    <aside class="as-sidebar as-sidebar--right">
      RIGHT-SIDEBAR
    </aside>
  </div>

  <script defer>
    const map = L.map('map').setView([30, 0], 3);
    map.scrollWheelZoom.disable();

    L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png', {
      maxZoom: 18
    }).addTo(map);

    const client = new carto.Client({
      apiKey: 'default_public',
      username: 'cartojs-test'
    });

    const source = new carto.source.Dataset('ne_10m_populated_places_simple');
    const style = new carto.style.CartoCSS(`
        #layer {
          marker-width: 7;
          marker-fill: #EE4D5A;
          marker-line-color: #FFFFFF;
        }
      `);
    const layer = new carto.layer.Layer(source, style);

    client.addLayer(layer);
    client.getLeafletLayer().addTo(map);


    function _toggleDrawer() {
      document.querySelector('.as-toolbar__actions').classList.toggle('as-toolbar__actions--visible');
    }

    function _showTab0(event) {
      document.querySelector('.as-sidebar.as-sidebar--left').classList.add('as-sidebar--left--visible');
      document.querySelector('.as-sidebar.as-sidebar--right').classList.remove('as-sidebar--right--visible');
      document.querySelector('.as-panels').classList.remove('as-panels--visible');
      document.querySelector('.as-toolbar-tabs .as-toolbar-tabs__item--active').classList.remove('as-toolbar-tabs__item--active');
      event.target.classList.add('as-toolbar-tabs__item--active');
    }

    function _showTab1(event) {
      document.querySelector('.as-sidebar.as-sidebar--left').classList.remove('as-sidebar--left--visible');
      document.querySelector('.as-sidebar.as-sidebar--right').classList.remove('as-sidebar--right--visible');
      document.querySelector('.as-panels').classList.remove('as-panels--visible');
      document.querySelector('.as-toolbar-tabs .as-toolbar-tabs__item--active').classList.remove('as-toolbar-tabs__item--active');
      event.target.classList.add('as-toolbar-tabs__item--active');
    }

    function _showTab2(event) {
      document.querySelector('.as-sidebar.as-sidebar--right').classList.add('as-sidebar--right--visible');
      document.querySelector('.as-sidebar.as-sidebar--left').classList.remove('as-sidebar--left--visible');
      document.querySelector('.as-panels').classList.remove('as-panels--visible');
      document.querySelector('.as-toolbar-tabs .as-toolbar-tabs__item--active').classList.remove('as-toolbar-tabs__item--active');
      event.target.classList.add('as-toolbar-tabs__item--active');
    }

    function _showTab3(event) {
      document.querySelector('.as-sidebar.as-sidebar--right').classList.remove('as-sidebar--right--visible');
      document.querySelector('.as-sidebar.as-sidebar--left').classList.remove('as-sidebar--left--visible');
      document.querySelector('.as-panels').classList.add('as-panels--visible');
      document.querySelector('.as-toolbar-tabs .as-toolbar-tabs__item--active').classList.remove('as-toolbar-tabs__item--active');
      event.target.classList.add('as-toolbar-tabs__item--active');
    }

  </script>
</body>

</html>
