<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main Layout CDN</title>
  <link rel="stylesheet" href="../../packages/styles/dist/airship.css">

</head>

<body class="as-app">
  <nav class="as-toolbar as-toolbar--horizontal as-toolbar--bg-brand-2">
    <img class="as-toolbar__item" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/blimp-512.png" alt="">
    <img class="as-toolbar__item" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/blimp-512.png" alt="">
    <img class="as-toolbar__item" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/blimp-512.png" alt="">
  </nav>

  <main class="as-map-container">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam molestias facere placeat dignissimos quibusdam libero
      porro quod vitae ipsum expedita deleniti, incidunt, suscipit perferendis eos accusamus, enim commodi delectus nesciunt!
    </p>
  </main>


</body>

</html>
