.x-axis {
  transform: translate(25px, 1px);

  .tick {
    text {
      fill: var(--histogram-widget--description-color, #747474);
    }

    line {
      stroke: var(--as-color-type-02, #747474);
      opacity: 0.5;
    }
  }

  .domain {
    display: none;
  }
}
