@import '../../../../styles/src/core/_dev';

as-animation-controls-widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: $widget-min-width;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--as--histogram-widget--background-color);

  as-loader {
    justify-content: flex-start;
  }

  .as-animation-controls-widget__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px 0;

    .as-btn {
      padding: 0;
    }

    as-range-slider {
      width: 100%;
      padding-top: 8px;
    }
  }
}
