.as-table {
  border-collapse: collapse;
  border: 1px solid var(--as-color-ui-04, #{$color-ui-04});
  background: var(--as-color-ui-01, #{$color-ui-01});
  font: $font-body;
  text-align: left;

  th,
  td {
    padding: get-spacing(2) get-spacing(4);
  }

  th {
    background: #E2E6E3;
  }

  thead {
    border: 1px solid var(--as-color-ui-04, #{$color-ui-04});
  }

  &--stripped {
    th,
    td {
      border: 1px solid var(--as-color-ui-04, #{$color-ui-04});
    }
  }

  td:hover {
    background: var(--as-color-ui-02, #{$color-ui-02});
  }

  tr:nth-child(even) {
    border-top: 1px solid #C8F3DF;
    border-bottom: 1px solid #C8F3DF;
    background-color: #E2F9EE;

    td:hover {
      background: #C8F3DF;
    }
  }
}
