@import "../core/_dev";

.as-table {
  --as-color-table-row-hover: #E2F9EE;
  --as-color-table-cell-hover: #C8F3DF;

  border-collapse: collapse;
  border: 1px solid var(--as--color--ui-04, #{$color-ui-04});
  background: var(--as--color--ui-01, #{$color-ui-01});
  font: $font-body;
  text-align: left;

  th,
  td {
    padding: get-spacing(2) get-spacing(4);
    border: 1px solid transparent;
  }

  th {
    background: #E2E6E3;
  }

  thead {
    border: 1px solid var(--as--color--ui-04, #{$color-ui-04});
  }

  &--stripped {
    th,
    td {
      border: 1px solid var(--as--color--ui-04, #{$color-ui-04});
    }
  }

  tr:hover {
    border-top: 1px solid var(--as-color-table-cell-hover, #C8F3DF);
    border-bottom: 1px solid var(--as-color-table-cell-hover, #C8F3DF);
    background-color: var(--as-color-table-row-hover, #E2F9EE);
  }

  td:hover {
    background: var(--as-color-table-cell-hover, #C8F3DF);
  }
}
