@import '../../../../../styles/src/core/_dev';

as-range-slider-bar {
  --as-range-slider__range-bar--background-color--disabled: var(--as--color--ui-03, #{$color-ui-03});

  .as-range-slider__range-bar {
    position: absolute;
    z-index: 1;
    top: 50%;
    height: 2px;
    transform: translate3d(0, -50%, 0);
    background-color: var(--slider--color--range, #{$color-primary});
  }

  .as-range-slider__range-bar--disabled {
    background-color: var(--as-range-slider__range-bar--background-color--disabled);
  }

  .as-range-slider__range-bar--draggable {
    cursor: grab;

    &::after {
      content: ' ';
      position: absolute;
      top: -6px;
      left: 0;
      width: calc(100% - 20px);
      height: 12px;
      transform: translate3d(10px, 0, 0);
    }
  }

  .as-range-slider__range-bar--moving {
    cursor: grabbing;
  }
}
