<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Airship</title>
    <link rel="stylesheet" href="../../../packages/styles/dist/core/core.css">
    <script src="../../../packages/components/dist/airship.js"></script>
  </head>

  <body>
    <as-category-widget
      heading="Business Volume"
      description="Description"
      default-bar-color="#47DB99"></as-category-widget>

    <script>
      const categoryWidget = document.querySelector('as-category-widget');
      categoryWidget.showClearButton = false;
      categoryWidget.useTotalPercentage = true;
      categoryWidget.visibleCategories = 2;
      categoryWidget.categories = [
        { name: 'Bars & Restaurants', value: 1000, color: '#FABADA' },
        { name: 'Fashion', value: 900 },
        { name: 'Grocery', value: 800 },
        { name: 'Health', value: 400 },
        { name: 'Shopping mall', value: 250 },
        { name: 'Transportation', value: 1000 },
        { name: 'Leisure', value: 760 }
      ];
    </script>
  </body>
</html>
