<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Airship</title>
    <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
    <script src="../../../packages/components/dist/airship.js"></script>
</head>

<body>
    <as-range-slider value="5" disabled="true"></as-range-slider>
    <br/>
    <button>Toggle disabled</button>
    <script>
        document.querySelector('button').addEventListener('click', () => {
            const rangeSliderWidget = document.querySelector('as-range-slider');
            rangeSliderWidget.disabled = !rangeSliderWidget.disabled;
        })
    </script>
</body>

</html>
