@import '../../../../../styles/src/core/_dev';

as-legend-category {
  --as--basic--legend--font: var(--as--font--caption);
  --as--basic--legend--text-transform: capitalize;

  display: block;

  .as-legend-category--wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .as-legend-category--label {
    font: var(--as--basic--legend--font);
    text-transform: var(--as--basic--legend--text-transform);
  }

  & .as-legend-category--figure--wrapper {
    width: var(--as--basic--legend--figure-width);
    margin-right: get-spacing(2);
  }

  .as-legend-category--wrapper-horizontal > .as-legend-category--entry {
    margin-right: get-spacing(3);
  }

  .as-legend-category--wrapper:not(.as-legend-category--wrapper-horizontal) > .as-legend-category--entry:not(:first-child) {
    margin-top: get-spacing(3);
  }

  .as-legend-category--wrapper-horizontal {
    flex-direction: row;
    align-items: center;
  }
}
