.as-display {
  &--none {
    display: none;
  }

  &--inline {
    display: inline;
  }

  &--inline-block {
    display: inline-block;
  }

  &--block {
    display: block;
  }

  &--table {
    display: table;
  }

  &--table-row {
    display: table-row;
  }

  &--table-cell {
    display: table-cell;
  }

  &--flex {
    display: flex;
  }

  &--inline-flex {
    display: inline-flex;
  }

  &--grid {
    display: grid;
  }

  &--inline-grid {
    display: inline-grid;
  }
}
