@import '../../../../../styles/src/core/dev';

as-widget-header {
  --as-widget-header__header--color: var(--as--color--type-01);
  --as-widget-subheader--color: var(--as--color--type-02);
  --as-widget-header__subheader--color-error: var(--as--color--error);
  --as-widget-header__subheader--color-empty: var(--as--color--warning);

  display: block;

  .as-widget-header__header {
    margin: 0;
    color: var(--as-widget-header__header--color);
    font: var(--as--font--subheader);
  }

  .as-widget-header__subheader {
    margin-bottom: 16px;
    color: var(--as-widget-subheader--color, #F4F4F4);

    &--error {
      color: var(--widget--subheader-color-error, #F3522B);
      text-transform: uppercase;
    }

    &--empty {
      color: var(--widget--subheader-color-empty, #FDB32B);
      text-transform: uppercase;
    }
  }
}
