<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../packages/styles/dist/airship.css">
  <script src="../../packages/components/dist/airship.js"></script>


  <!-- CARTO.js -->
  <!-- Include Leaflet -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
  <link href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" rel="stylesheet">

  <!-- Include CARTO.js -->
  <script src="https://libs.cartocdn.com/carto.js/v4.1.2/carto.min.js"></script>
  <link href="https://carto.com/developers/carto-js/examples/maps/public/style.css" rel="stylesheet">
  <!-- / CARTO.js -->
</head>

<body class="as-app">
  <as-application-content>
    <aside class="as-sidebar as-sidebar--left" data-name="Stores" data-tab-order="2">
      <div class="as-container">
        <section class="as-box">
          <h1 class="as-title">Store 1</h1>
          <div class="as-badge">Test</div>
          <p class="as-body">
            Inventore possimus nam quam necessitatibus omnis, est sequi rem quibusdam molestiae, at saepe odit voluptatem quae debitis consequatur iste ducimus quaerat dolorum.
          </p>
          <button class="as-btn as-btn--secondary as-btn--s">Visit</button>
        </section>
        <section class="as-box">
          <h1 class="as-title">Store 2</h1>
          <div class="as-badge">Test</div>
          <p class="as-body">
            Inventore possimus nam quam necessitatibus omnis, est sequi rem quibusdam molestiae, at saepe odit voluptatem quae debitis consequatur iste ducimus quaerat dolorum.
          </p>
          <button class="as-btn as-btn--secondary as-btn--s">Visit</button>
        </section>
        <section class="as-box">
          <h1 class="as-title">Store 3</h1>
          <div class="as-badge">Test</div>
          <p class="as-body">
            Inventore possimus nam quam necessitatibus omnis, est sequi rem quibusdam molestiae, at saepe odit voluptatem quae debitis consequatur iste ducimus quaerat dolorum.
          </p>
          <button class="as-btn as-btn--secondary as-btn--s">Visit</button>
        </section>
      </div>
    </aside>

    <div class="as-map-wrapper" data-tab-order="0">
      <div class="as-map">
        <div id="map"></div>

        <div class="as-panels" data-name="Legends" data-tab-order="1">
          <div class="as-panel as-panel--top as-panel--right">
            <div class="as-panel__element">
              <section class="as-box">
                <p class="as-subheader">LEGEND 1</p>
                <p class="as-body">
                  There are no special containers for legends. Just add an 'as-box' element to an 'as-panel__element'
                </p>
              </section>
              <section class="as-box">
                <p class="as-subheader">LEGEND 2</p>
                <p class="as-body">
                  There are no special containers for legends. Just add an 'as-box' element to an 'as-panel__element'
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>

    <aside class="as-sidebar as-sidebar--right" data-name="Containers" data-tab-order="3">
      <div class="as-container as-container--border">
        <section class="as-box">
          <h1 class="as-title">Fixed container</h1>
          <p class="as-body">Use this container when you need to present fixed content. This content will occupy as much vertical
            space as needed.</p>
        </section>
      </div>
      <div class="as-container as-container--scrollable">
        <section class="as-box">
          <h1 class="as-title">Scrollable container</h1>
          <p class="as-body">
            When you need to present lots of content that don't fit in the available space, use a scrollable container. It'll take the
            space left by the fixed containers.
          </p>
        </section>
        <section class="as-box">
          <h1 class="as-title">A box</h1>
          <p class="as-body">
            This content is here to fill up more space than available so you can scroll.
          </p>
        </section>
        <section class="as-box">
          <h1 class="as-title">A box</h1>
          <p class="as-body">
            This content is here to fill up more space than available so you can scroll.
          </p>
        </section>
        <section class="as-box">
          <h1 class="as-title">A box</h1>
          <p class="as-body">
            This content is here to fill up more space than available so you can scroll.
          </p>
        </section>
        <section class="as-box">
          <h1 class="as-title">A box</h1>
          <p class="as-body">
            This content is here to fill up more space than available so you can scroll.
          </p>
        </section>
      </div>
    </aside>
  </as-application-content>

  <script type="text/javascript">
    const applicationContent = document.querySelector('as-application-content');
    applicationContent.addEventListener('load', () => {
      const map = L.map('map', {
        zoomControl: false
      }).setView([30, 0], 3);
      map.scrollWheelZoom.disable();

      L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager_nolabels/{z}/{x}/{y}.png', {
        maxZoom: 18
      }).addTo(map);

      const client = new carto.Client({
        apiKey: 'default_public',
        username: 'cartojs-test'
      });

      const source = new carto.source.Dataset('ne_10m_populated_places_simple');
      const style = new carto.style.CartoCSS(`
                #layer {
                  marker-width: 7;
                  marker-fill: #EE4D5A;
                  marker-line-color: #FFFFFF;
                }
              `);
      const layer = new carto.layer.Layer(source, style);

      client.addLayer(layer);
      client.getLeafletLayer().addTo(map);
    });
  </script>
</body>

</html>
