@import '../../../../../styles/src/core/_dev';

as-legend-category-point-entry {
  .as-legend-category-point-entry--wrapper {
    display: flex;
    align-items: center;
  }

  .as-legend-category-point-entry--symbol {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .as-legend-category-point-entry--point {
    border-radius: 50%;
  }
}
