
as-donut-widget {
  --as--donut-widget--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--donut-widget--label-title--font-size: var(--as--size--font-02, #{$font-size-02});
  --as--donut-widget--label-title--font-weight: normal;
  --as--donut-widget--label-title--line-height: 1.5;
  --as--donut-widget--label-title--color: var(--as--color--ui-03, #{$color-ui-03});
  --as--donut-widget--label-value--font-size: var(--as--size--font-04, #{$font-size-04});
  --as--donut-widget--label-value--font-weight: bold;
  --as--donut-widget--label-value--line-height: 1.33;
  --as--donut-widget--label-value--color: var(--as--color--type-01, #{$color-type-01});
  --as--donut-widget--label-value--unit--color: var(--as--color--type-02, #{$color-type-02});
  --as--donut-widget--tooltip--border-radius: 4px;
  --as--donut-widget--tooltip--background-color: var(--as--color--type-01, #{$color-type-01});
  --as--donut-widget--tooltip--name--font-size: var(--as--size--font-02, #{$font-size-02});
  --as--donut-widget--tooltip--name--line-height: 1.67;
  --as--donut-widget--tooltip--name--color: var(--as--color--ui-03, #{$color-ui-03});
  --as--donut-widget--tooltip--value--font-size: var(--as--size--font-02, #{$font-size-02});
  --as--donut-widget--tooltip--value--line-height: 1.67;
  --as--donut-widget--tooltip--value--color: var(--as--color--ui-03, #{$color-ui-03});

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 228px;
  height: 100%;
  max-height: 100%;
  overflow: auto;
  background: var(--as--histogram-widget--background-color);

  .as-donut-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 136px;

    .as-donut-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      font-family: inherit;
      text-align: center;
    }

    .as-donut-label .as-label-title {
      margin: 0;
      overflow: hidden;
      color: var(--as--donut-widget--label-title--color);
      font-size: var(--as--donut-widget--label-title--font-size);
      font-weight: var(--as--donut-widget--label-title--font-weight);
      line-height: var(--as--donut-widget--label-title--line-height);
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .as-donut-label .as-label-value {
      margin: 0;
      font-size: var(--as--donut-widget--label-value--font-size);
      line-height: var(--as--donut-widget--label-value--line-height);

      .as-label-value-value {
        color: var(--as--donut-widget--label-value--color);
        font-weight: var(--as--donut-widget--label-value--font-weight);
      }

      .as-label-value-unit {
        color: var(--as--donut-widget--label-value--unit--color);
        font-weight: var(--as--donut-widget--label-title--font-weight);
      }
    }

    .as-donut-tooltip {
      display: flex;
      position: absolute;
      z-index: 5;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: auto;
      min-width: 136px;
      height: 28px;
      padding: 0 8px;
      transform: translate(-50%);
      border-radius: var(--as--donut-widget--tooltip--border-radius);
      opacity: 0;
      background-color: var(--as--donut-widget--tooltip--background-color);
      pointer-events: none;
      user-select: none;
    }

    .as-donut-tooltip::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: calc(50% - 4px);
      border-width: 4px 4px 0;
      border-style: solid;
      border-color: var(--as--donut-widget--tooltip--background-color) transparent transparent transparent;
    }

    .as-donut-tooltip .name {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .as-donut-tooltip .name p {
      margin-right: 6px;
      color: var(--as--donut-widget--tooltip--name--color);
      font-size: var(--as--donut-widget--tooltip--name--font-size);
      line-height: var(--as--donut-widget--tooltip--name--line-height);
      white-space: nowrap;
    }

    .as-donut-tooltip .name span {
      width: 8px;
      height: 8px;
      margin-right: 8px;
      border-radius: 2px;
    }

    .as-donut-tooltip .value {
      color: var(--as--donut-widget--tooltip--value--color);
      font-size: var(--as--donut-widget--tooltip--value--font-size);
      line-height: var(--as--donut-widget--tooltip--value--line-height);
      text-align: right;
    }
  }
}
