.as-donut-wrapper {
  position: relative;
  width: 100%;
  height: 100%;

  .as-donut-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .as-donut-label .as-label-title {
    margin: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    color: #bababa;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .as-donut-label .as-label-value {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    color: #2c2c2c;
  }

  .as-donut-tooltip {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: auto;
    min-width: 136px;
    height: 28px;
    padding: 0 8px;
    border-radius: 4px;
    background-color: #2c2c2c;
    transform: translateX(-50%);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
  }

  .as-donut-tooltip:after {
    content: "";
    position: absolute;
    left: calc(50% - 4px);
    bottom: -4px;
    border-width: 4px 4px 0 4px;
    border-color: #2c2c2c transparent transparent transparent;
    border-style: solid;
  }

  .as-donut-tooltip .name {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .as-donut-tooltip .name p {
    margin-right: 6px;
    color: #bababa;
    font-size: 12px;
    line-height: 1.67;
    white-space: nowrap;
  }

  .as-donut-tooltip .name span {
    width: 8px;
    height: 8px;
    margin-right: 8px;
    border-radius: 2px;
  }

  .as-donut-tooltip .value {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.67;
    text-align: right;
  }
}
