@import '../../../../styles/src/core/_dev';

as-formula-widget {
  --as--formula-widget--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--formula-widget--description--color: var(--as--color--type-02, #{$color-type-02});

  display: flex;
  flex-direction: column;
  min-width: $widget-min-width;
  height: 100%;
  overflow-y: auto;
  background: var(--as--formula-widget--background-color);

  .content {
    min-height: 100px;
  }

  as-widget-header {
    padding-top: 6px;
  }
}
