<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script type="module" src="../../../packages/components/dist/airship/airship.esm.js"></script>
  <script nomodule="" src="../../../packages/components/dist/airship/airship.js"></script>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <as-legend-size-category-line id="legend" orientation="vertical"></as-legend-size-category-line>
  
  <script>
    const legend = document.querySelector('#legend');
    legend.data = [
      { color: '#FFC667', width: 10, label: '280' },
      { color: '#FFC667', width: 12, label: '240' },
      { color: '#FFC667', width: 15, label: '160' }
    ]
  </script>
</body>

</html>
