<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script src="../../../packages/components/dist/airship.js"></script>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <as-legend-color-continuous-polygon id="legend" orientation="horizontal"></as-legend-color-continuous-polygon>
  
  <script>
    const legend = document.querySelector('#legend');
    legend.data = [
      { "color": "#B0F2BCFF", "label": 10 },
      { "color": "#77E2A8FF", "label": 20 },
      { "color": "#4CC8A3FF", "label": 30 },
      { "color": "#31A6A2FF", "label": 40 },
      { "color": "#257D98FF", "label": 50 }
    ]
  </script>
</body>

</html>
