<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script type="module" src="../../../packages/components/dist/airship/airship.esm.js"></script>
  <script nomodule="" src="../../../packages/components/dist/airship/airship.js"></script>
  <style>
    body {
      background-color: white;
    }
  </style>
</head>

<body>
  <as-legend-size-bins-point id="legend" orientation="horizontal"></as-legend-size-bins-point>
  
  <script>
    const legend = document.querySelector('#legend');
    legend.data = [
      { marker: 'https://libs.cartocdn.com/carto-vl/assets/symbols/house.svg', color: '#000000', width: 28, label: 'House' },
      { marker: 'https://libs.cartocdn.com/carto-vl/assets/symbols/marker.svg', color: '#000000', width: 24, label: 'POI' },
      { marker: 'https://libs.cartocdn.com/carto-vl/assets/symbols/cross.svg', color: '#000000', width: 16, label: 'Unknown' }
    ]
  </script>
</body>

</html>
