<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
  <script src="../../../packages/components/dist/airship.js"></script>
</head>

<body>
  <div style="width:300px;">
    <as-stacked-bar-widget id="widget-0" show-legend="true" heading="Heading" description="Description"></as-stacked-bar-widget>


    <button id="col">Modify columns</button>
    <button id="data">Modify data</button>
  </div>

  <script>
    const widget0 = document.querySelector('#widget-0');

    document.querySelector('#data').addEventListener('click', () => {
      widget0.data = [{
          category: 'Category A',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
          }
        },
        {
          category: 'Category B',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
          },
        },
        {
          category: 'Category B',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
          }
        }
      ];
    });

    document.querySelector('#col').addEventListener('click', () => {
      widget0.data = [{
          category: 'Category A',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
          }
        },
        {
          category: 'Category B',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
          },
        },
        {
          category: 'Category B',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
          }
        },
        {
          category: 'Category C',
          values: {
            v1: Math.random() * 400 - 200,
            v2: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
            v3: Math.random() * 400 - 200,
          }
        }
      ];
    })

  </script>
</body>

</html>
