@import "../core/_dev";

.as-tabs {
  @include padding(0 3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  background: $color-ui-10;
  box-shadow: inset 0 -1px 0 0 $color-ui-30;

  &__item {
    @include padding(2 3);
    display: inline-block;
    transition: border 0.2s;
    border-bottom: 2px solid transparent;
    outline: none;
    background: none;
    color: $color-brand-10;
    font: 12px/20px $font-base;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      border-bottom: 2px solid $color-brand-30;
    }

    &--active,
    &:active {
      border-bottom: 2px solid $color-brand-20;
      color: $color-type-10;

      &:focus,
      &:hover {
        border-bottom: 2px solid $color-brand-20;
      }
    }
  }

  &--xl {
    /* stylelint-disable-next-line */
    .as-tabs__item {
      border-bottom: 4px solid transparent;
      font: 16px/24px $font-base;

      &:focus,
      &:hover {
        border-bottom: 4px solid $color-brand-30;
      }

      &--active,
      &:active {
        border-bottom: 4px solid $color-brand-20;
        color: $color-type-10;
      }
    }
  }
}
