@import "../core/_dev";

.as-tabs {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: var(--as--color--ui-01);
  box-shadow: inset 0 -1px 0 0 var(--as--color--ui-03);
  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &__item {
    @include padding(2 3);
    display: inline-block;
    flex: 0 0 auto;
    margin: 0;
    transition: border 0.2s;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: none;
    color: var(--as--color--primary);
    font: var(--as--font--body);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid var(--as--color--complementary);
    }

    &--active {
      border-bottom: 2px solid var(--as--color--secondary);
      color: var(--as--color--type-01);

      &:hover {
        border-bottom: 2px solid var(--as--color--secondary);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &--xl {
    /* stylelint-disable-next-line */
    .as-tabs__item {
      border-bottom: 4px solid transparent;
      font: var(--as--font--subheader);

      &:focus,
      &:hover {
        border-bottom: 4px solid var(--as--color--complementary);
      }

      &--active,
      &:active {
        border-bottom: 4px solid var(--as--color--secondary);
        color: var(--as--color--type-01);
      }
    }
  }
}
