@import "../core/_dev";

.as-tabs {
  @include padding(0 3);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: auto;
  background: var(--as-color-ui-01, #{$color-ui-01});
  box-shadow: inset 0 -1px 0 0 var(--as-color-ui-03, #{$color-ui-03});

  &__item {
    @include padding(2 3);
    display: inline-block;
    transition: border 0.2s;
    border-bottom: 2px solid transparent;
    outline: none;
    background: none;
    color: var(--as-color-primary, #{$color-primary});
    font: 12px/20px $font-base;
    text-decoration: none;
    cursor: pointer;

    &:focus,
    &:hover {
      border-bottom: 2px solid var(--as-color-complementary, #{$color-complementary});
    }

    &--active,
    &:active {
      border-bottom: 2px solid var(--as-color-secondary, #{$color-secondary});
      color: var(--as-color-type-01, #{$color-type-01});

      &:focus,
      &:hover {
        border-bottom: 2px solid var(--as-color-secondary, #{$color-secondary});
      }
    }
  }

  &--xl {
    /* stylelint-disable-next-line */
    .as-tabs__item {
      border-bottom: 4px solid transparent;
      font: 16px/24px $font-base;

      &:focus,
      &:hover {
        border-bottom: 4px solid var(--as-color-complementary, #{$color-complementary});
      }

      &--active,
      &:active {
        border-bottom: 4px solid var(--as-color-secondary, #{$color-secondary});
        color: var(--as-color-type-01, #{$color-type-01});
      }
    }
  }
}
