@import "../core/_dev";

.as-tabs {
  --as-tabs--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as-tabs--border-color: var(--as--color--ui-03, #{$color-ui-03});
  --as-tabs--item--font: var(--as--font--body);
  --as-tabs--item--color: var(--as--color--primary, #{$color-primary});
  --as-tabs--item--color-hover: var(--as--color--type-01, #{$color-type-01});
  --as-tabs--item--color-active: var(--as--color--primary, #{$color-primary});
  --as-tabs--item--border-color-hover: var(--as--color--complementary, #{$color-complementary});
  --as-tabs--item--border-color-active: var(--as--color--secondary, #{$color-secondary});
  --as-tabs--item--border-color-hover-active: var(--as--color--secondary, #{$color-secondary});
  --as-tabs--subheader--font: var(--as--font--subheader);

  @include padding(0 3);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  background: var(--as-tabs--background-color);
  box-shadow: inset 0 -1px 0 0 var(--as-tabs--border-color);
  list-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &__item {
    @include padding(2 3);
    display: inline-block;
    flex: 0 0 auto;
    margin: 0;
    transition: border 0.2s;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: none;
    color: var(--as-tabs--item--color);
    font: var(--as-tabs--item--font);
    text-decoration: none;
    cursor: pointer;

    &:hover {
      border-bottom: 2px solid var(--as-tabs--item--border-color-hover);
    }

    &--active {
      border-bottom: 2px solid var(--as-tabs--item--border-color-active);
      color: var(--as-tabs--item--color-active);

      &:hover {
        border-bottom: 2px solid var(--as-tabs--item--border-color-hover-active);
      }
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &--xl {
    /* stylelint-disable-next-line */
    .as-tabs__item {
      border-bottom: 4px solid transparent;
      font: var(--as-tabs--subheader--font);

      &:focus,
      &:hover {
        border-bottom: 4px solid var(--as--color--complementary);
      }

      &--active,
      &:active {
        border-bottom: 4px solid var(--as--color--secondary);
        color: var(--as--color--type-01);
      }
    }
  }
}
