.as-toolbar__actions {
  --toolbar-tabs-bg-color: var(--as-color-secondary, #{$color-secondary});

  display: flex;
  position: absolute;
  z-index: 3;
  top: $toolbar-size;
  right: 0;
  bottom: 0;
  left: -100%;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  transition: left 0.3s;
  background-color: var(--toolbar-tabs-bg-color);

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;

    .as-toolbar__item {
      width: 100%;
      padding: 0;
    }
  }

  &--visible {
    left: 0;
  }

  // Media queries
  @media all and (min-width: $tablet-breakpoint) {
    position: initial;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    ul {
      flex-direction: row;
      padding-left: 0;
    }
  }
}
