.as-toolbar__actions {
  --as--toolbar__actions--background-color: var(--as--color--secondary);

  display: flex;
  position: absolute;
  z-index: 3;
  top: $toolbar-size;
  right: 0;
  bottom: 0;
  left: -100%;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  transition: left 0.3s;
  background-color: var(--as--toolbar__actions--background-color);

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style-type: none;

    .as-toolbar__item {
      width: 100%;
    }
  }

  &--visible {
    left: 0;
  }

  // Media queries
  @media all and (min-width: $tablet-breakpoint) {
    position: initial;
    top: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: initial;

    ul {
      flex-direction: row;
      width: initial;

      .as-toolbar__item {
        width: auto;
      }
    }
  }
}
