.as-toolbar {
  display: flex;
  height: $header-height;
  background-color: var(--brand-02-color, $brand-02-color);

  &__toggle {
    position: absolute;
    z-index: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: $header-height;
    min-height: $header-height;
    filter: invert(100%);
    text-align: center;
    cursor: pointer;
  }

  &__icon-text {
    margin-left: 8px;
  }

  &--logo {
    flex: 1;
  }

  @media all and (min-width: $tablet-breakpoint) {
    &__icon-text,
    &__menu-toggle {
      display: none;
    }
  }
}
