$_toolbar-main__size: 13 * $u1;

.as-toolbar-main {
  display: flex;
  height: $_toolbar-main__size;
  background-color: var(--toolbar-main-bg-color, $brand-02-color);

  &__toggle {
    position: absolute;
    z-index: 1;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    filter: invert(100%);
    padding: 3 * $u1;
    text-align: center;
    cursor: pointer;

    p {
      margin-left: $u3;
    }

    img {
      width: 7 * $u1;
      height: 7 * $u1;
    }
  }

  &--logo {
    flex: 1;
  }


  // Media queries
  @media all and (min-width: $tablet-breakpoint) {
    &__item p,
    &__toggle {
      display: none;
    }
  }
}
