$_toolbar-height: 13 * $u1;

.as-toolbar-tabs {
  display: flex;
  justify-content: space-around;
  height: $_toolbar-height;
  background-color: var(--toolbar-tabs-bg-color, $brand-02-color);

  &__item {
    flex: 1;
    height: 100%;
    padding: 0 $u2;
    transition: border 0.3s;
    border-bottom: $u1 solid transparent;
    color: white;
    font-family: 'Roboto', sans-serif;
    line-height: $_toolbar-height;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
  }

  &__item--active {
    border-bottom: $u1 solid white;
  }

  // Media queries
  @media all and (min-width: $tablet-breakpoint) {
    display: none;
  }
}
