@import '_actions';

.as-toolbar {
  --as-toolbar--background-color: var(--as--color--primary);
  --as-toolbar--text-color: var(--as--color--type-01, #{$color-type-01});
  --as-toolbar--link-color: var(--as-toolbar--text-color);

  display: flex;
  justify-content: space-between;
  height: $toolbar-size;
  background-color: var(--as-toolbar--background-color);

  &__toggle {
    border: none;
    background: transparent;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $toolbar-size;
    margin: 0;
    padding: 0 get-spacing(3);
    color: var(--as-toolbar--text-color);
    font: $font-body;
    cursor: pointer;
  }

  a {
    color: var(--as-toolbar--link-color);
    text-decoration: none;
  }

  &__group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  &__icon-text {
    margin-left: get-spacing(2);
  }

  &--logo {
    flex: 1;
  }

  @media all and (min-width: $tablet-breakpoint) {
    &__icon-text,
    &__toggle {
      display: none;
    }
  }
}

.as-toolbar-tabs {
  @media all and (min-width: $tablet-breakpoint) {
    display: none !important;
  }
}
