as-legend-size-continuous-line {
  display: block;
  overflow: hidden;

  svg {
    text {
      font: var(--as--font--caption);
    }

    line {
      stroke: var(--as-legend--color);
    }
  }

  svg.as-legend-size-continuous-line--horizontal {
    text {
      text-anchor: middle;
    }
  }
}
