.as-caption,
.font-xs {
  font: 10px/12px $font-base;
}

.as-body,
.font-s {
  font: 12px/20px $font-base;
}

.as-subheader,
.font-m {
  font: 16px/24px $font-base;
}

.as-title,
.font-l {
  font: 24px/32px $font-base;
}

.as-display,
.font-xl {
  font: 40px/56px $font-base;
  font-weight: 300;
}

.as-jumbo,
.font-xxl {
  font: 72px/80px $font-base;
  font-weight: 300;
}

.as-font-medium {
  font-weight: 500;
}

.as-font-mono {
  font-family: $font-monospace-base;
}
