// -- Font types
.as-jumbo {
  font: $font-jumbo;
  font-weight: 300;
}

.as-display {
  font: $font-display;
  font-weight: 300;
}

.as-title {
  font: $font-title;
}

.as-subheader {
  font: $font-subheader;
}

.as-body {
  font: $font-body;
}

.as-caption {
  font: $font-caption;
}

// -- Modifiers

.as-font {
  &--medium {
    font-weight: 500;
  }

  &--mono {
    font-family: var(--font-family-mono, #{$font-family-mono});
  }

  &--type-01 {
    color: var(--color-type-01, #{$color-type-01});
  }

  &--type-02 {
    color: var(--color-type-02, #{$color-type-02});
  }

  &--type-03 {
    color: var(--color-type-03, #{$color-type-03});
  }

  &--type-04 {
    color: var(--color-type-04, #{$color-type-04});
  }
}
