.as-checkbox-layer-slot {
  &.as-checkbox-layer-slot--visible {
    display: block;
  }

  &.as-checkbox-layer-slot--hidden {
    display: none;
  }
}

.as-layer-selector-slot--wrapper {
  padding-bottom: 12px;

  .as-checkbox {
    margin: 12px 12px 0;
  }

  .as-caption {
    font-size: 16px;
  }
}
