.y-axis {
  transform: translate(4px, 1.5px);

  .tick {
    text {
      fill: var(--widget-axis-text-color, rgb(44, 44, 44));
    }

    line {
      stroke: var(--widget-axis-line-color, rgba(46, 60, 67, 0.16));
    }
  }

  .domain {
    display: none;
  }
}
