@import '../../../../../styles/src/core/_dev';

as-basic-legend-point {
  .as-basic-legend-point--wrapper {
    display: flex;
    align-items: center;
  }

  .as-basic-legend-point--symbol {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .as-basic-legend-point--point {
    border-radius: 50%;
  }
}
