@import '../../../../../styles/src/core/_dev';

as-legend-size-continuous-point {
  --as-legend-size-continuous-point--color: var(--as--color--type-01);
  --as-legend-size-continuous-point--shadow: rgba(0, 0, 0, 0.1);

  .as-legend-size-continuous-point {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }

  .as-legend-size-continuous-point--step {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 get-spacing(1);
  }

  .as-legend-size-continuous-point--step:first-of-type {
    margin-left: 0;
  }

  .as-legend-size-continuous-point--step:last-of-type {
    margin-right: 0;
  }

  .as-legend-size-continuous-point--label {
    display: flex;
    align-items: center;
    margin-top: get-spacing(2);
    color: var(--as-legend-size-continuous-point--color);
    font: var(--as--font--caption);
    text-transform: capitalize;
    white-space: nowrap;
  }

  .as-legend-size-continuous-point--circle-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .as-legend-size-continuous-point--circle {
    border-radius: 50%;
    box-shadow: -1px 0 2px 0 var(--as-legend-size-continuous-point--shadow);
  }
}
