@import '../../../../../styles/src/core/_dev';

as-legend-color-bins-polygon {
  --as-legend-color-bins-polygon--border-color: rgba(0, 0, 0, 0.1);
  --as-legend-color-bins-polygon--color: var(--as--color--type-01);
  display: block;

  .as-legend-color-bins-polygon--outer-wrapper {
    display: flex;

    &.as-legend-color-bins-polygon--vertical {
      flex-direction: row;
    }

    &.as-legend-color-bins-polygon--horizontal {
      flex-direction: column;
    }
  }

  .as-legend-color-bins-polygon--wrapper {
    display: flex;
  }

  .as-legend-color-bins-polygon--color {
    box-shadow: -1px 0 2px 0 var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--horizontal {
    .as-legend-color-bins-polygon--wrapper {
      min-width: 300px;
    }

    .as-legend-color-bins-polygon--labels {
      margin-top: get-spacing(2);
    }
  }

  .as-legend-color-bins-polygon--label {
    flex: 1;
    color: var(--as-legend-color-bins-polygon--color);
    font: var(--as--font--caption);
    text-transform: capitalize;
    white-space: nowrap;
  }

  .as-legend-color-bins-polygon--vertical {
    .as-legend-color-bins-polygon--wrapper {
      flex-direction: column;
      min-height: 300px;
    }

    .as-legend-color-bins-polygon--label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .as-legend-color-bins-polygon--labels {
      margin-left: get-spacing(2);
    }
  }

  .as-legend-color-bins-polygon--step {
    flex: 1;
  }

  .as-legend-color-bins-polygon--horizontal .as-legend-color-bins-polygon--step {
    height: 8px;
    border-top: 1px solid var(--as-legend-color-bins-polygon--border-color);
    border-bottom: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--vertical .as-legend-color-bins-polygon--step {
    width: 8px;
    border-right: 1px solid var(--as-legend-color-bins-polygon--border-color);
    border-left: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--horizontal .as-legend-color-bins-polygon--step:first-of-type {
    border-left: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--horizontal .as-legend-color-bins-polygon--step:last-of-type {
    border-right: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--vertical .as-legend-color-bins-polygon--step:first-of-type {
    border-top: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }

  .as-legend-color-bins-polygon--vertical .as-legend-color-bins-polygon--step:last-of-type {
    border-bottom: 1px solid var(--as-legend-color-bins-polygon--border-color);
  }
}
