@import "../core/_dev";

.as-loading {
  display: inline-flex;
  width: get-spacing(10);
  height: get-spacing(10);
  overflow: hidden;

  svg {
    width: 100%;
    animation: rotate 2s linear infinite;
  }

  circle {
    animation: dash 1.5s ease-in-out infinite;
    stroke-width: 4px;
    stroke-linecap: square;
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 0;
    stroke: var(--as--color--type-01, #{$color-type-01});
  }

  &--s {
    width: get-spacing(4);
    height: get-spacing(4);
  }

  &--l {
    width: get-spacing(18);
    height: get-spacing(18);
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }

    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
