@import '../../../../../styles/src/core/_dev';

as-legend-color-continuous {
  --as--basic--legend--font: var(--as--font--body);
  --as--basic--legend--text-transform: capitalize;

  .as-legend-color-continuous--wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .as-legend-color-continuous--label {
    font: var(--as--basic--legend--font);
    text-transform: var(--as--basic--legend--text-transform);
  }

  & .as-legend-color-continuous--figure--wrapper {
    width: var(--as--basic--legend--figure-width);
    margin-right: get-spacing(2);
  }

  .as-legend-color-continuous--wrapper-horizontal > .as-legend-color-continuous--entry {
    margin-right: get-spacing(3);
  }

  .as-legend-color-continuous--wrapper:not(.as-legend-color-continuous--wrapper-horizontal) > .as-legend-color-continuous--entry:not(:first-child) {
    margin-top: get-spacing(3);
  }

  .as-legend-color-continuous--wrapper-horizontal {
    flex-direction: row;
    align-items: center;
  }
}
