@import '../../../../styles/src/core/_dev';
@import '../../../../styles/src/menu-dropdown/menu-dropdown';

as-dropdown {
  --as-dropdown--color: var(--as--color--type-01, #{$color-type-01});
  --as-dropdown--color--main: var(--as--color--primary, #{$color-primary});
  --as-dropdown--color--secondary: var(--as--color--ui-04, #{$color-ui-04});
  --as-dropdown--color--hover: var(--as--color--complementary-hover, #{$color-complementary-hover});
  --as-dropdown--color--selected: var(--as--color--complementary-selected, #{$color-complementary-selected});
  --as-dropdown--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as-dropdown__arrow-color: var(--as-dropdown--color--main);
  --as-dropdown__list--border-color: var(--as--color--ui-03, #{$color-ui-03});
  --as-dropdown__list--background-color: var(--as--color--ui-01, #{$color-ui-01});

  display: block;

  .as-dropdown {
    position: relative;
  }

  .as-dropdown__control {
    position: relative;
    width: 100%;
    min-height: get-spacing(4);
    margin: 0;
    padding: get-spacing(2) get-spacing(8) get-spacing(2) get-spacing(2);
    overflow: hidden;
    border: 0;
    border-radius: 4px;
    background-color: var(--as-dropdown--background-color);
    box-shadow: inset 0 0 0 1px var(--as-dropdown--color--secondary);
    color: var(--as-dropdown--color);
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
  }

  .as-dropdown__arrow {
    position: absolute;
    top: 50%;
    right: get-spacing(3);
    width: 12px;
    transform: translate3d(0, -50%, 0);
    background-repeat: no-repeat;

    path {
      fill: var(--as-dropdown__arrow-color);
    }
  }

  .as-dropdown__control:focus {
    outline: none;
  }

  .as-dropdown__list {
    display: none;
    position: absolute;
    z-index: $z-index-1;
    width: 100%;
    margin: 8px 0 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid var(--as-dropdown__list--border-color);
    border-radius: 4px;
    background-color: var(--as-dropdown__list--background-color);
    box-shadow: 0 2px 8px 0 var(--as--color--shadow, #{$color-shadow});
  }

  .as-dropdown__list-item {
    border: 0;
    outline: none;
    cursor: pointer;

    &:not(:last-child) {
      border-bottom: 1px solid var(--as-dropdown__list--border-color);
    }

    button {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: get-spacing(2) get-spacing(3);
      border: 0;
      outline: none;
      background-color: var(--as-dropdown--background-color);
      color: var(--as-dropdown--color);
      text-align: left;
      cursor: inherit;

      &:hover {
        background: var(--as-dropdown--color--hover);
      }

      &.is-selected {
        background: var(--as-dropdown--color--selected);
      }
    }
  }

  .as-dropdown--open {
    .as-dropdown__control {
      box-shadow: inset 0 0 0 2px var(--as-dropdown--color--main);
    }

    .as-dropdown__list {
      display: block;
    }
  }

  .as-dropdown--clear {
    width: calc(100% - #{get-spacing(9)});
  }

  .as-dropdown__clear {
    position: absolute;
    top: 50%;
    right: get-spacing(-6);
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    transform: translate3d(0, -50%, 0);
    border: 0;
    background-color: var(--as-dropdown--background-color);
    cursor: pointer;

    path {
      fill: var(--as-dropdown--color--main);
    }
  }
}
