@import "../core/_dev";

.as-checkbox {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: get-spacing(2);
  transition: all 0.3s;

  .as-checkbox-decoration {
    display: inline-block;
    position: relative;
    width: get-spacing(4);
    height: get-spacing(4);
    overflow: hidden;
    border: 1px solid var(--as--color--alpha-light-02, #{$color-alpha-light-02});
    border-radius: 3px;
    pointer-events: none;
  }

  .as-checkbox-check {
    transform-origin: 50% 50%;
    stroke-width: 2;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
  }

  .as-checkbox-media {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(1.5px) translateY(2.5px);
    fill: none;
  }

  .as-checkbox-input {
    -webkit-appearance: none;
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    width: get-spacing(4);
    height: get-spacing(4);
    margin: 0;
    padding: 0;
    border-radius: 3px;
    outline: none;
    background: none;
    cursor: pointer;

    &:disabled {
      background: #F4F4F4;
      cursor: not-allowed;
    }

    &:focus:not(:hover) {
      border: 2px solid var(--as--color--primary);
    }

    &:focus.as-checkbox-input--error {
      border: 2px solid var(--as--color---support-01);
    }

    &--error + .as-checkbox-decoration {
      border-color: var(--as--color---support-01);
      stroke: var(--as--color---support-01);
      background: var(--as--color---alpha-support-01, #{$color-alpha-support-01})
    }

    &:checked + .as-checkbox-decoration {
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 8px);
        left: calc(50% - 8px);
        width: get-spacing(4);
        height: get-spacing(4);
        animation: radioIn 300ms;
        border-radius: 3px;
        opacity: 1;
        animation-fill-mode: forwards;
      }

      .as-checkbox-check {
        animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 300ms forwards;
        animation-delay: -20ms;
      }
    }

    &:checked:not(.as-checkbox-input--error) + .as-checkbox-decoration {
      border: 1px solid var(--as--color--primary);
      stroke: var(--as--color--primary);
    }

    &:disabled:checked + {
      background: var(--as--color--ui-02);
      cursor: not-allowed;
    }

    &:disabled:checked + .as-checkbox-decoration {
      border-color: var(--as--color--alpha-light-02, #{$color-alpha-light-02});
      stroke: var(--as--color--alpha-light-02, #{$color-alpha-light-02});
    }

    &:enabled:not(:checked):not(.as-checkbox-input--error):hover + .as-checkbox-decoration {
      border: 1px solid var(--as--color--complementary);
    }
  }

  label {
    margin-left: 8px;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes radioIn {
  from {
    transform: scale3d(0.3, 0.3, 0.3);
    transform-origin: 50% 50%;
    opacity: 0;
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
