<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <title>Airship</title>
  <link rel="stylesheet" href="packages/styles/dist/airship.css">
  <script src="packages/components/dist/airship.js"></script>
  <style>
    body {
      height: 100vh;
      margin: 0;
      padding: 0;
      background: #F2F2F2;
    }

    as-time-series-widget {
      width: 100%;
      height: 100%;
      background: white;
    }

  </style>
</head>

<body>
  <as-time-series-widget
    x-label="Time" 
    y-label="Overall world coolness"
    responsive
    show-clear
    heading="World coolness evolution"
  >
  </as-time-series-widget>

  <script>
    var timeData = [{
      start: new Date(Date.parse('1987-06-18')),
      end: new Date(Date.parse('1987-06-19')),
      value: 1
    },
    {
      start: new Date(Date.parse('1987-06-19')),
      end: new Date(Date.parse('1987-06-20')),
      value: 2
    },
    {
      start: new Date(Date.parse('1987-06-20')),
      end: new Date(Date.parse('1987-06-21')),
      value: 4
    },
    {
      start: new Date(Date.parse('1987-06-21')),
      end: new Date(Date.parse('1987-06-22')),
      value: 8
    },
    {
      start: new Date(Date.parse('1987-06-22')),
      end: new Date(Date.parse('1987-06-23')),
      value: 16
    },
    {
      start: new Date(Date.parse('1987-06-23')),
      end: new Date(Date.parse('1987-06-24')),
      value: 32
    }];

    var timeSeriesWidget = document.querySelector('as-time-series-widget');
    timeSeriesWidget.data = timeData;
  </script>
</body>

</html>
