@import "variables.scss";


.button {
  border-radius: 4px;
  background: $primary-color;
  color: $white;
  cursor: pointer;
  padding: 6px 12px;
  font: 500 12px/20px 'Roboto';
  display: flex;
  align-items: center;

  &:hover {
    background: darken($primary-color, 16%);
  }
  &:focus {
    background: darken($primary-color, 24%);
  }
  &.is-disabled:hover,
  &.is-disabled:focus {
    background: $primary-color;
    color: $white;
  }
  .button-media {
    fill: $white;
    margin-right: 8px;
    width: 12px;
    height: 12px;
  }
}
  .button--large {
    padding: 8px 16px;
    font: 500 16px/24px 'Roboto';
    .button-media {
      margin-right: 12px;
      width: 16px;
      height: 16px;
    }
    &.button--icon {
      padding: 10px;
    }
  }
  .button--small {
    padding: 6px 8px;
    font: 400 10px/12px 'Roboto';
  }

  .button--secondary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;

    &:hover {
      background: lighten($primary-color, 45%);
    }
    &:focus {
      background: lighten($primary-color, 40%);
    }

    &.is-disabled:hover,
    &.is-disabled:focus {
      background: transparent;
      color: $primary-color;
    }
    .button-media {
      fill: $primary-color;
    }
  }

  .button--base {
    background: transparent;
    color: $primary-color;

    &:hover {
      background: lighten($primary-color, 45%);
    }
    &:focus {
      background: lighten($primary-color, 40%);
    }

    &.is-disabled:hover,
    &.is-disabled:focus {
      background: transparent;
      color: $primary-color;
    }
    .button-media {
      fill: $primary-color;
    }
  }


  .button--icon {
    padding: 6px;
    .button-media {
      margin-right: 0;
      width: 11px;
      height: 11px;
    }
  }

  .is-disabled {
    opacity: .24;
    cursor: default;
  }


