@import "variables.scss";

.table {
  border: 1px solid $ui04;
  width: 100%;
  font: 400 12px/20px 'Roboto';
  color: $type01;
  th {
    font-weight: 600;
    text-align: left;
    background: $ui03;
  }
  th, td {
    padding: 8px 12px;
    border-bottom: 1px solid $ui04;
  }
  tr:last-child td {
    border-bottom: 0;
  }
  tr:hover,
  td:hover {
    background: rgba($complementary-color, 0.16);
  }

  &.table--lines {
    th, td {
      border-right: 1px solid $ui04;
      &:last-child {
        border-right: 0;
      }
    }
  }


}
