/* colors */
$primary-color: #1785FB;
$secondary-color: #0F2D53;
$complementary-color: #47DB99;

/* ui colors */
$ui04: #D1D5D7;
$ui03: #E2E6E3;
$ui02: #F5F5F5;

/* type colors */
$type01: #2C2C2C;
$type02: #747474;
$type03: #F5F5F5;


/* support colors */
$error: #F3522B;
$alert: #FDB32B;
$success: #80B622;

/* other colors */
$white: #fff;
