.as-panels {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: white;

  &--visible {
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: initial;
    background-color: initial;
    pointer-events: none;
  }
}

.as-panel {
  $panel-selector: &;

  &__element {
    .as-box {
      @include margin(10 10 0 10);
    }
  }

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: absolute;
    align-items: flex-start;

    // Panels stack mode
    &--vertical {
      flex-direction: column;
    }

    // Panels alignment
    &--top {
      top: get-spacing(6);
    }

    &--middle {
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }

    &--bottom {
      bottom: get-spacing(6);
    }

    &--left {
      left: get-spacing(6);

      #{$panel-selector}__element {
        @include margin(0 2 0 0);
      }
    }

    &--center {
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    &--right {
      right: get-spacing(6);

      #{$panel-selector}__element {
        @include margin(0 0 0 2);
      }
    }

    &__element {
      max-width: 200px;
      border-radius: 4px;
      background: white;
      box-shadow: rgba(44, 44, 44, 0.16) 0 1px 4px 0;
      pointer-events: auto;

      .as-box {
        @include margin(5);
      }
    }

    &--top#{&}--vertical {
      #{$panel-selector}__element {
        @include margin(0 0 2 0);
      }
    }

    &--bottom#{&}--vertical {
      #{$panel-selector}__element {
        @include margin(2 0 0 0);
      }
    }
  }
}

.as-bottom-bar {
  display: none;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  background-color: white;
  pointer-events: auto;

  &--visible {
    display: initial;
  }

  // Containers
  .as-box {
    @include margin(10 10 0 10);
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: initial;
    height: initial;
    max-height: $bottom-bar-max-height;
    overflow-x: initial;

    .as-container {
      flex: 1 0 auto;
      overflow: auto;
    }

    .as-container--scrollable {
      display: flex;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: auto;
    }

    .as-container--border {
      border-right: 1px solid $color-ui-40;
    }

    .as-box {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: auto;
    }
  }
}
