.as-panels {
  --panels-bg-color: var(--as-color-ui-01, #{$color-ui-01});

  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--panels-bg-color);

  &--visible {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: initial;
    background-color: initial;
    pointer-events: none;
  }
}

.as-panel {
  $panel-selector: &;

  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: absolute;
    align-items: flex-start;

    // Panels stack mode
    &--vertical {
      flex-direction: column;
    }

    // Panels alignment
    &--top {
      top: get-spacing(6);
    }

    &--middle {
      top: 50%;
      transform: translate3d(0, -50%, 0);
    }

    &--bottom {
      bottom: get-spacing(6);
    }

    &--left {
      left: get-spacing(6);

      #{$panel-selector}__element {
        @include margin(0 2 0 0);
      }
    }

    &--center {
      left: 50%;
      transform: translate3d(-50%, 0, 0);
    }

    &--right {
      right: get-spacing(6);

      #{$panel-selector}__element {
        @include margin(0 0 0 2);
      }
    }

    &__element {
      --panels-element-bg-color: var(--as-color-ui-01, #{$color-ui-01});

      max-width: 200px;
      border-radius: 4px;
      background: var(--panels-element-bg-color);
      box-shadow: rgba($color-type-01, 0.16) 0 1px 4px 0;
      pointer-events: auto;

      .as-box {
        @include margin(5);
      }
    }

    &--top#{&}--vertical {
      #{$panel-selector}__element {
        @include margin(0 0 2 0);
      }
    }

    &--bottom#{&}--vertical {
      #{$panel-selector}__element {
        @include margin(2 0 0 0);
      }
    }
  }
}

.as-bottom-bar {
  --bottom-bar-bg-color: var(--as-color-ui-01, #{$color-ui-01});

  display: none;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--bottom-bar-bg-color);
  pointer-events: auto;

  &--visible {
    display: initial;
    overflow-x: auto;
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    display: flex;
    position: initial;
    height: initial;
    max-height: $bottom-bar-max-height;
    overflow-x: initial;

    .as-container {
      flex: 1 0 auto;
      overflow: auto;
    }

    .as-container--scrollable {
      display: flex;
      flex-basis: auto;
      flex-direction: row;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-x: auto;
    }

    .as-container--border {
      border-right: 1px solid $color-ui-04;
    }

    .as-box {
      flex-basis: auto;
      flex-grow: 1;
      flex-shrink: 0;
      overflow: auto;
    }
  }
}
