@import "../core/_dev";

.as-breadcrumb {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &__item {
    display: flex;
    color: var(--as--color--type-01, #{$color-type-01});
    font: $font-body;
    cursor: default;

    &::after {
      content: '›';
      margin: 0 get-spacing(2);
      color: var(--as--color--primary, #{$color-primary});
      font-size: 12px;
    }

    &:last-child::after {
      display: none;
    }

    a {
      color: var(--as--color--primary, #{$color-primary});
      text-decoration: none;

      :hover {
        text-decoration: underline;
      }
    }
  }
}
