@import '../core/_dev';

.as-button {
  border: none;

  @include padding(8);

  &--primary {
    background-color: blue;
    color: white;
  }

  &--secondary {
    background-color: red;
    color: white;
  }
}
