// -- Colors

// Brand
$color-primary: #1785FB !default;
$color-secondary: #0F2D53 !default;
$color-complementary: #47DB99 !default;

// Typography
$color-type-01: #2C2C2C !default;
$color-type-02: #747474 !default;
$color-type-03: #BABABA !default;
$color-type-04: #FFF !default;

// UI
$color-ui-01: #FFF !default;
$color-ui-02:#F5F5F5 !default;
$color-ui-03:#E2E6E3 !default;
$color-ui-04:#D1D5D7 !default;

// Support
$color-support-01: #F3522B !default;
$color-support-02: #FDB32B !default;
$color-support-03: #80B622 !default;

// Badges
$color-badge-gray: #E2E6E3 !default;
$color-badge-green: #E1EECA !default;
$color-badge-blue: #B5E0F9 !default;
$color-badge-pink: #E4D8EB !default;
