// -- Colors

// Brand
$color-primary: #1785FB !default;
$color-secondary: #0F2D53 !default;
$color-complementary: #47DB99 !default;

// Typography
$color-type-01: #2C2C2C !default;
$color-type-02: #747474 !default;
$color-type-03: #BABABA !default;
$color-type-04: #FFF !default;

// UI
$color-ui-01: #FFF !default;
$color-ui-02:#F5F5F5 !default;
$color-ui-03:#E2E6E3 !default;
$color-ui-04:#D1D5D7 !default;

// Support
$color-support-01: #F3522B !default;
$color-support-02: #FDB32B !default;
$color-support-03: #80B622 !default;

// Badges
$color-badge-gray: #E2E6E3 !default;
$color-badge-green: #E1EECA !default;
$color-badge-blue: #B5E0F9 !default;
$color-badge-pink: #E4D8EB !default;
$color-badge-yellow: #F8E71C !default;

// Shadows
$color-shadow-primary: unquote('#1785FB29') !default;
$color-shadow-secondary:unquote('#0F2D5329') !default;
$color-shadow-complementary: unquote('#47db9929') !default;

$color-shadow-support-01: unquote('#F3522B29') !default;
$color-shadow-support-02: unquote('#FDB32B29') !default;
$color-shadow-support-03: unquote('#80B62229') !default;

$color-shadow-light-01: unquote('#2c2c2c29') !default;
$color-shadow-light-02: unquote('#74747429') !default;
$color-shadow-dark-01: unquote('#2c2c2cd6') !default;
$color-shadow-dark-02: unquote('#747474d6') !default;

@mixin colors-vars {
  // Brand
  --as--color--primary: #{$color-primary};
  --as--color--secondary: #{$color-secondary};
  --as--color--complementary: #{$color-complementary};

  // Typography
  --as--color--type-01: #{$color-type-01};
  --as--color--type-01: #{$color-type-01};

  --as--color--type-02: #{$color-type-02};
  --as--color--type-03: #{$color-type-03};
  --as--color--type-04: #{$color-type-04};

  // UI
  --as--color--ui-01: #{$color-ui-01};
  --as--color--ui-02: #{$color-ui-02};
  --as--color--ui-03: #{$color-ui-03};
  --as--color--ui-04: #{$color-ui-04};

  // Support
  --as--color---support-01: #{$color-support-01};
  --as--color---support-02: #{$color-support-02};
  --as--color---support-03: #{$color-support-03};

  // Badges
  --as--color--badge-gray: #{$color-badge-gray};
  --as--color--badge-green: #{$color-badge-green};
  --as--color--badge-blue: #{$color-badge-blue};
  --as--color--badge-pink: #{$color-badge-pink};
  --as--color--badge-yellow: #{$color-badge-yellow};

  // Shadows
  --as--color--shadow-primary: #{$color-shadow-primary};
  --as--color--shadow-secondary: #{$color-shadow-secondary};
  --as--color--shadow-complementary: #{$color-shadow-complementary};

  --as--color---shadow-support-01: #{$color-shadow-support-01};
  --as--color---shadow-support-02: #{$color-shadow-support-02};
  --as--color---shadow-support-03: #{$color-shadow-support-03};

  --as--color--shadow-light-01: #{$color-shadow-light-01};
  --as--color--shadow-light-02: #{$color-shadow-light-02};
  --as--color--shadow-dark-01: #{$color-shadow-dark-01};
  --as--color--shadow-dark-02: #{$color-shadow-dark-02};
}
