// -- Colors

// Brand
$color-primary: #1785FB !default;
$color-primary--hover: #1A5FAA !default;
$color-primary--active: #263D56 !default;
$color-secondary: #0F2D53 !default;
$color-secondary--hover: #0F2D53 !default;
$color-secondary--active: #0F2D53 !default;
$color-complementary: #47DB99 !default;
$color-complementary--hover: #E0F9EE !default;
$color-complementary--active: #C6F4DF !default;

// Typography
$color-type-01: #2C2C2C !default;
$color-type-02: #747474 !default;
$color-type-03: #BABABA !default;
$color-type-04: #FFF !default;

// UI
$color-ui-01: #FFF !default;
$color-ui-02:#F5F5F5 !default;
$color-ui-03:#E2E6E3 !default;
$color-ui-04:#D1D5D7 !default;

// Support
$color-error: #F3522B !default;
$color-warning: #FDB32B !default;
$color-success: #80B622 !default;

// Utils
$color-gray: #E2E6E3 !default;
$color-green: #E1EECA !default;
$color-blue: #B5E0F9 !default;
$color-pink: #E4D8EB !default;
$color-yellow: #F8E71C !default;

// With alpha

$color-shadow: rgba(44, 44, 44, 0.16);
$color-modal: rgba(44, 44, 44, 0.8);

@mixin colors-vars {
  // Brand

  // Primary
  --as--color--primary: #{$color-primary};
  --as--color--primary--hover: #{$color-primary--hover};
  --as--color--primary--active: #{$color-primary--active};

  // Secondary
  --as--color--secondary: #{$color-secondary};
  --as--color--secondary--hover: #{$color-secondary--hover};
  --as--color--secondary--active: #{$color-secondary--active};

  // Complementary
  --as--color--complementary: #{$color-complementary};
  --as--color--complementary--hover: #{$color-complementary--hover};
  --as--color--complementary--active: #{$color-complementary--active};

  // Typography
  --as--color--type-01: #{$color-type-01};
  --as--color--type-02: #{$color-type-02};
  --as--color--type-03: #{$color-type-03};
  --as--color--type-04: #{$color-type-04};

  // UI
  --as--color--ui-01: #{$color-ui-01};
  --as--color--ui-02: #{$color-ui-02};
  --as--color--ui-03: #{$color-ui-03};
  --as--color--ui-04: #{$color-ui-04};

  // Utils - Backgrounds
  --as--color--gray: #{$color-gray};
  --as--color--green: #{$color-green};
  --as--color--blue: #{$color-blue};
  --as--color--pink: #{$color-pink};
  --as--color--yellow: #{$color-yellow};
  --as--color--primary: #{$color-primary};
  --as--color--error: #{$color-error};
  --as--color--warning: #{$color-warning};
  --as--color--success: #{$color-success};

  // Utils - Badges
  --as--color--badge-gray: #{$color-gray};
  --as--color--badge-green: #{$color-green};
  --as--color--badge-blue: #{$color-blue};
  --as--color--badge-pink: #{$color-pink};
  --as--color--badge-yellow: #{$color-yellow};

  // With alpha
  --as--color--shadow: #{$color-shadow};
  --as--color--modal: #{$color-modal};
}
