// -- Shadows
$shadow-4: 0 1px 4px 0 var(--as--color--alpha-01, #{$color-alpha-01});
$shadow-8: 0 2px 8px 0 var(--as--color--alpha-01, #{$color-alpha-01});
$shadow-16: 0 4px 16px 0 var(--as--color--alpha-01, #{$color-alpha-01});
