@import '../../../../../styles/src/core/_dev';

as-legend-color-category-polygon {
  .as-legend-color-category-polygon--wrapper {
    display: flex;
    align-items: center;
  }

  .as-legend-color-category-polygon--box {
    width: get-spacing(4);
    height: get-spacing(3);
    margin: auto;
  }
}
