@import "../core/_dev";

.as-infowindow-1 {
  position: relative;
  width: 260px;
  margin: 16px;
  padding: 16px;
  background: var(--as-color-ui-01, #{color-ui-01});
  box-shadow: $shadow-8;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 48px;
    height: 48px;
    background: white;
    box-shadow: 0 9px 25px 0 rgba(44, 44, 44, 0.16);
    clip-path: polygon(0 50%, 0% 100%, 50% 50%);
  }
}

.as-infowindow-2 {
  position: relative;
  width: 260px;
  margin: 16px;
  padding: 16px;
  background: var(--as-color-ui-01, #{color-ui-01});
  box-shadow: $shadow-8;

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -24px;
    left: 0;
    width: 24px;
    height: 24px;
    border-radius: 0 0 36px;
    background: white;
    box-shadow: 0 5px 4px 0 rgba(44, 44, 44, 0.16);
  }
}
