@import "../core/_dev";

.as-infowindow {
  position: relative;
  width: 260px;
  height: 150px;
  min-height: 40px;
  border-radius: 4px 4px 4px 0;
  background: $color-ui-01;
  box-shadow: 0 2px 8px 0 rgba(44, 44, 44, 0.16);

  &--grow {
    height: auto;
  }

  &--full-img {
    height: 167px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 8% 90%, 0 98%, 0% 100%, 0% 100%);
    box-shadow: 0 2px 8px 0 rgba(44, 44, 44, 0.16);

    img {
      display: block;
      min-width: 100%;
      max-width: 100%;
      min-height: 100%;
      border-radius: 4px;
    }
  }

  &__content {
    height: 100%;
    padding: get-spacing(4);
    overflow: auto;
  }

  &__media {
    width: 100%;
  }

  &__hook {
    position: absolute;
    z-index: 10;
    bottom: 1px;
    left: 0;
    background: white;
    color: white;

    &::before {
      content: '';
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border-top: 12px solid white;
      border-right: 18px solid transparent;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 3px;
      left: 0;
      width: 0;
      height: 0;
      border-top: 12px solid rgba(44, 44, 44, 0.16);
      border-right: 18px solid transparent;
      filter: blur(2px);
    }
  }
}
