.as-container--primary {
  background-color: var(--primary-color, $color-brand-10);
}

.as-container--secondary {
  background-color: var(--secondary-color, $color-brand-20);
}

.as-container--complimentary {
  background-color: var(--complimentary-color, $color-brand-30);
}
