.as-sidebar {
  .as-box {
    @include margin(10 10 0 10);
  }

  .as-container {
    flex: 0 1 auto;
  }

  .as-container--scrollable {
    flex: 0 1 auto;
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    .as-container {
      flex-grow: 0;
    }

    .as-container--scrollable {
      flex-grow: 1;
      overflow-y: auto;
    }

    .as-container--border {
      border-bottom: 1px solid $color-ui-40;
    }

    .as-box {
      @include margin(10 10 10 10);
    }
  }
}

.as-bottom-bar {
  .as-box {
    @include margin(10 10 0 10);
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    .as-container {
      flex-grow: 0;
      overflow: auto;
    }

    .as-container--scrollable {
      display: flex;
      flex-grow: 1;
      overflow-x: auto;
    }

    .as-container--border {
      border-right: 1px solid $color-ui-40;
    }

    .as-box {
      flex-shrink: 0;
      overflow: auto;
    }
  }
}

.as-panel__element {
  .as-box {
    @include margin(10 10 0 10);
  }

  // Media
  @media all and (min-width: $tablet-breakpoint) {
    .as-box {
      @include margin(5);
    }
  }

}

.as-container--primary {
  background-color: var(--primary-color, $color-brand-10);
}

.as-container--secondary {
  background-color: var(--secondary-color, $color-brand-20);
}

.as-container--complimentary {
  background-color: var(--complimentary-color, $color-brand-30);
}
