@import '../../../../../styles/src/core/_dev';

as-legend-color-continuous-line {
  .as-legend-color-continuous-line--wrapper {
    display: flex;
    align-items: center;
  }

  .as-legend-color-continuous-line--line {
    width: get-spacing(4);
    height: 0;
    margin: auto;
    border-top-width: var(--as-legend-color-continuous-line--line-width);
  }
}
