@import "../core/_dev";

.as-btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 10px 12px;
  transition: background-color 0.2s;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--as-color-ui-01, #{$color-ui-01});
  color: var(--as-color-primary, #{$color-primary});
  font: $font-body;
  cursor: pointer;

  p {
    margin: 0;
  }

  i:first-child {
    margin-right: 8px;
  }

  i:last-child {
    margin-left: 8px;
  }

  i:only-child {
    margin: 4px auto;
  }

  &:disabled {
    opacity: 0.24;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:enabled:hover {
    background-color: var(--as-color-ui-02, #{$color-ui-02});
  }

  &:enabled:focus,
  &:enabled:active {
    background-color: var(--as-color-ui-03, #{$color-ui-03});
  }

  &--primary {
    background-color: var(--as-color-primary, #{$color-primary});
    color: var(--as-color-ui-01, #{$color-ui-01});

    &:enabled:hover, {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
    }

    &:enabled:focus,
    &:enabled:active {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
    }
  }

  &--secondary {
    background-color: var(--as-color-ui-01, #{$color-ui-01});
    box-shadow: inset 0 0 0 1px var(--as-color-primary, #{$color-primary});
    color: var(--as-color-primary, #{$color-primary});

    &:enabled:hover {
      background-color: var(--as-button-secondary-color-focus, darken($color-ui-01, 10%));
    }

    &:enabled:focus,
    &:enabled:active {
      background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
    }
  }

  &--s {
    font: $font-caption;
  }

  &--l {
    font: $font-subheader;
  }

  &--middle {
    border-left: none;
    border-radius: 0;
  }
}

a.as-btn {
  text-decoration: none;

  &:hover {
    background-color: var(--as-button-color-focus, #{$color-ui-02});
  }

  &:focus,
  &:active {
    background-color: var(--as-button-color-focus, #{$color-ui-03});
  }
}

a.as-btn.as-btn--primary {
  &:hover {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
  }

  &:focus,
  &:active {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
  }
}

a.as-btn.as-btn--secondary {
  &:hover {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
  }

  &:focus,
  &:active {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 12%));
  }
}

.as-button-group {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--as-color-primary, #{$color-primary});
  list-style: none;

  &__item {
    /* stylelint-disable-next-line no-descending-specificity  */
    .as-btn {
      border-left: 1px solid var(--as-color-primary, #{$color-primary});
      border-radius: 0;
      box-shadow: none;
    }

    &:first-child .as-btn {
      border-left: 0;
      border-radius: 4px 0 0 4px;
    }

    &:last-child .as-btn {
      border-radius: 0 4px 4px 0;
    }
  }
}
