@import "../core/_dev";

.as-btn {
  --as-btn--opacity--disabled: 0.24;
  // Default
  --as-btn--type-color--default: var(--as--color--primary, #{$color-primary});
  --as-btn--ui-color--default--hover: var(--as--color--ui-02, #{$color-ui-02});
  --as-btn--ui-color--default--active: var(--as--color--ui-03, #{$color-ui-03});
  --as-btn--ui-color--default: var(--as--color--ui-01, #{$color-ui-01});
  // Primary
  --as-btn--type-color--primary: var(--as--color--ui-01, #{$color-ui-01});
  --as-btn--ui-color--primary: var(--as--color--primary, #{$color-primary});
  --as-btn--ui-color--primary--hover: var(--as--color--primary--over, #{$color-primary--hover});
  --as-btn--ui-color--primary--active: var(--as--color--primary--active, #{$color-primary--active});
  // Secondary
  --as-btn--type-color--secondary: var(--as-btn--type-color--default, #{$color-primary});
  --as-btn--ui-color--secondary: var(--as-btn--ui-color--default, #{$color-ui-01});
  --as-btn--ui-color--secondary--hover: var(--as-btn--ui-color--default--hover, #{$color-ui-02});
  --as-btn--ui-color--secondary--active: var(--as-btn--ui-color--default--active, #{$color-ui-03});
  // Complementary
  --as-btn--type-color--complementary: var(--as--color--type-01, #{$color-type-01});
  --as-btn--ui-color--complementary: var(--as--color--complementary, #{$color-complementary});
  --as-btn--ui-color--complementary--hover: var(--as--color--complementary--hover, #{$color-complementary--hover});
  --as-btn--ui-color--complementary--active: var(--as--color--complementary--active, #{$color-complementary--active});

  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: get-spacing(1.5) get-spacing(3);
  transition: background-color 0.2s;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: var(--as-btn--ui-color--default);
  color: var(--as-btn--type-color--default);
  font: $font-body;
  cursor: pointer;

  p {
    margin: 0;
  }

  i:first-child {
    margin-right: get-spacing(2);
  }

  i:last-child {
    margin-left: get-spacing(2);
  }

  i:only-child {
    margin: 4px auto;
  }

  &:disabled {
    opacity: var(--as-btn--opacity--disabled);
    cursor: not-allowed;
    pointer-events: none;
  }

  &:enabled:hover {
    background-color: var(--as-btn--ui-color--default-hover);
  }

  &:enabled:active {
    background-color: var(--as-btn--ui-color--default-active);
  }

  &--primary {
    background-color: var(--as-btn--ui-color--primary);
    color: var(--as-btn--type-color--primary);

    &:enabled:hover {
      background-color: var(--as-btn--ui-color--primary--hover);
    }

    &:enabled:active {
      background-color: var(--as-btn--ui-color--primary--active);
    }
  }

  &--secondary {
    background-color: var(--as-btn--ui-color--secondary);
    box-shadow: inset 0 0 0 1px var(--as-btn--type-color--secondary);
    color: var(--as-btn--type-color--secondary);

    &:enabled:hover {
      background-color: var(--as-btn--ui-color--secondary--hover);
    }

    &:enabled:active {
      background-color: var(--as-btn--ui-color--secondary--active);
    }
  }

  &--complementary {
    background-color: var(--as-btn--ui-color--complementary);
    color: var(--as-btn--type-color--complementary);

    &:enabled:hover {
      background-color: var(--as-btn--ui-color--complementary--hover);
    }

    &:enabled:active {
      background-color: var(--as-btn--ui-color--complementary--active);
    }
  }

  &--s {
    padding: get-spacing(1.5) get-spacing(2);
    font: $font-caption;
  }

  &--l {
    padding: get-spacing(2) get-spacing(4);
    font: $font-subheader;
  }

  &--middle {
    border-left: none;
    border-radius: 0;
  }
}

a.as-btn {
  text-decoration: none;

  &:hover {
    background-color: var(--as-btn--ui-color--default-hover);
  }

  &:active {
    background-color: var(--as-btn--ui-color--default-active);
  }
}

a.as-btn.as-btn--primary {
  &:hover {
    background-color: var(--as-btn--ui-color--primary--hover);
  }

  &:active {
    background-color: var(--as-btn--ui-color--primary--active);
  }
}

a.as-btn.as-btn--secondary {
  &:hover {
    background-color: var(--as-btn--ui-color--secondary--hover);
  }

  &:active {
    background-color: var(--as-btn--ui-color--secondary--active);
  }
}

a.as-btn.as-btn--complementary {
  &:hover {
    background-color: var(--as-btn--ui-color--complementary--hover);
  }

  &:active {
    background-color: var(--as-btn--ui-color--complementary--active);
  }
}

.as-button-group {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--as-btn--type-color--default);
  list-style: none;

  .as-btn:first-child {
    border-left: 0;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
  }

  .as-btn:last-child {
    border-left: 1px solid var(--as-btn--type-color--default);
    border-radius: 0 4px 4px 0;
    box-shadow: none;
  }

  .as-btn:not(:first-child):not(:last-child) {
    border-left: 1px solid var(--as-btn--type-color--default);
    border-radius: 0;
    box-shadow: none;
  }
}
