@import "../core/_dev";

.as-btn {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 8px 12px;
  transition: background-color 0.2s;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  background-color: var(--as-color-ui-01, #{$color-ui-01});
  color: $color-primary;
  font: $font-body;
  cursor: pointer;

  p {
    margin: 0;
  }

  i:first-child {
    margin-right: 8px;
  }

  i:last-child {
    margin-left: 8px;
  }

  i:only-child {
    margin: 4px auto;
  }

  &:disabled {
    opacity: 0.24;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:enabled:hover {
    background-color: $color-ui-02;
  }

  &:enabled:focus,
  &:enabled:active {
    background-color: $color-ui-03;
  }

  &--primary {
    background-color: $color-primary;
    color: var(--as-color-ui-01, #{$color-ui-01});

    &:enabled:hover, {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
    }

    &:enabled:focus,
    &:enabled:active {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
    }
  }

  &--secondary {
    border: 1px solid $color-primary;
    background-color: var(--as-color-ui-01, #{$color-ui-01});
    color: $color-primary;

    &:enabled:hover {
      background-color: var(--as-button-secondary-color-focus, darken($color-ui-01, 10%));
    }

    &:enabled:focus,
    &:enabled:active {
      background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
    }
  }

  &--s {
    font: $font-caption;
  }

  &--l {
    font: $font-subheader;
  }

  &--first {
    border-radius: 4px 0 0 4px;
  }

  &--middle {
    border-left: none;
    border-radius: 0;
  }

  &--last {
    border-left: none;
    border-radius: 0 4px 4px 0;
  }
}

a.as-btn {
  text-decoration: none;

  &:hover {
    background-color: var(--as-button-color-focus, #{$color-ui-02});
  }

  &:focus,
  &:active {
    background-color: var(--as-button-color-focus, #{$color-ui-03});
  }
}

a.as-btn.as-btn--primary {
  &:hover {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
  }

  &:focus,
  &:active {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
  }
}

a.as-btn.as-btn--secondary {
  &:hover {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
  }

  &:focus,
  &:active {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 12%));
  }
}
