@import "../core/_dev";

.as-btn {
  margin: 0;
  padding: 8px 12px;
  transition: background-color 0.2s;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--as-color-ui-01, $color-ui-01);
  color: $color-primary;
  font: $font-body;
  cursor: pointer;

  &:disabled {
    opacity: 0.24;
    cursor: not-allowed;
    pointer-events: none;
  }

  &:enabled:hover {
    background-color: $color-ui-02;
  }

  &:enabled:active {
    background-color: $color-ui-03;
  }

  &--primary {
    background-color: $color-primary;
    color: var(--as-color-ui-01, $color-ui-01);

    &:enabled:hover, {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
    }

    &:enabled:active {
      background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
    }
  }

  &--secondary {
    border: 1px solid $color-primary;
    background-color: var(--as-color-ui-01, $color-ui-01);
    color: $color-primary;

    &:enabled:hover {
      background-color: var(--as-button-secondary-color-focus, darken($color-ui-01, 10%));
    }

    &:enabled:active {
      background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
    }
  }

  &--s {
    font: $font-caption;
  }

  &--l {
    font: $font-subheader;
  }
}

a.as-btn {
  text-decoration: none;

  &:hover {
    background-color: var(--as-button-color-focus, $color-ui-02);
  }

  &:active {
    background-color: var(--as-button-color-focus, $color-ui-03);
  }
}

a.as-btn.as-btn--primary {
  &:hover {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 20%));
  }

  &:active {
    background-color: var(--as-button-primary-color-focus, darken($color-primary, 40%));
  }
}

a.as-btn.as-btn--secondary {
  &:hover {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 10%));
  }

  &:active {
    background-color: var(--as-button-secondary-color-active, darken($color-ui-01, 12%));
  }
}
