@import "../core/_dev";

$modal-background: var(--as--color--modal, #{$color-modal});

.as-modal {
  --as-modal--color--background: #{$modal-background};

  display: flex;
  position: absolute;
  z-index: $z-index-100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  background: var(--as-modal--color--background);

  &__content {
    max-width: 450px;
    max-height: 80vh;
    padding: get-spacing(10);
    border-radius: get-spacing(1);
    background: var(--as--color--ui-01);
    box-shadow: $shadow-8;
  }
}
