@import "../core/_dev";

.as-switch {
  display: inline-block;
  position: relative;

  &__thumb {
    position: absolute;
    top: 4px;
    left: 4px;
    transition: opacity 0.2s ease;
    opacity: 0;
    color: $color-ui-01;
    pointer-events: none;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }

  input + &__toggle {
    display: block;
    position: relative;
    width: 32px;
    height: 16px;
    transition: all 0.4s ease;
    border-radius: 40px;
    outline: 0;
    background: $color-type-03;
    cursor: pointer;
    user-select: none;
  }

  input + &__toggle::after {
    content: '';
    display: block;
    position: relative;
    top: 2px;
    width: 12px;
    height: 12px;
    transform: translateX(2px);
    transition: all 0.2s ease;
    border-radius: 50%;
    background: $color-ui-01;
  }

  &__toggle:hover {
    background: $color-complementary;
  }

  input[disabled] + &__toggle {
    background: $color-ui-01;
    box-shadow: inset 0 0 0 1px $color-primary;
    cursor: not-allowed;
  }

  input[disabled] + &__toggle::after {
    background: $color-primary;
  }

  input:checked + &__toggle,
  input:checked + &__toggle:hover {
    background: $color-primary;
  }

  input:checked + &__toggle::after {
    transform: translateX(18px);
  }

  input:checked ~ svg {
    opacity: 1;
  }
}
