@import '../../../../../styles/src/core/_dev';

as-point-size-legend {
  --as-point-size-legend--color: var(--as--color--type-01);
  --as-point-size-legend--shadow: rgba(0, 0, 0, 0.1);

  .as-point-size-legend--steps {
    display: flex;
  }

  .as-point-size-legend--step {
    display: flex;
    align-items: center;
  }

  .as-point-size-legend--circle {
    border-radius: 50%;
    box-shadow: -1px 0 2px 0 var(--as-point-size-legend--shadow);
  }

  .as-point-size-legend--circle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .as-point-size-legend--label {
    display: flex;
    align-items: center;
    color: var(--as-point-size-legend--color);
    font: var(--as--font--caption);
    text-transform: capitalize;
    white-space: nowrap;
  }

  .as-point-size-legend--horizontal {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    .as-point-size-legend--step {
      flex-direction: column;
      margin: 0 get-spacing(1);
    }

    .as-point-size-legend--step:first-of-type {
      margin-left: 0;
    }

    .as-point-size-legend--step:last-of-type {
      margin-right: 0;
    }

    .as-point-size-legend--label {
      margin-top: get-spacing(2);
    }

    .as-point-size-legend--circle-wrapper {
      align-items: flex-end;
    }
  }

  .as-point-size-legend--vertical {
    flex-direction: column;

    .as-point-size-legend--label {
      margin-left: get-spacing(2);
    }

    .as-point-size-legend--step:not(:first-of-type) {
      margin-top: get-spacing(2);
    }
  }
}
