<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Airship</title>
    <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
    <script type="module" src="../../../packages/components/dist/airship/airship.esm.js"></script>
    <script nomodule="" src="../../../packages/components/dist/airship/airship.js"></script>
  </head>

  <body>
    <div style="width: 250px;">
      <as-histogram-widget
        heading="Title"
        show-header
        show-clear-button>
      </as-histogram-widget>
    </div>

    <script>
      var histogramWidget = document.querySelector('as-histogram-widget');
      var data = [
        { category: 'Category A', value: 5 },
        { category: 'Category B', value: 10 },
        { category: 'Category C', value: 15 },
        { category: 'Category D', value: 20 },
        { category: 'Category E', value: 30 },
      ];
      histogramWidget.data = data;
      histogramWidget.backgroundData = data.map(function (value) {
        return ({
          category: value.category,
          value: value.value * 1.33
        });
      });
    </script>
  </body>
</html>
