<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <title>Airship</title>
    <link rel="stylesheet" href="../../../packages/styles/dist/airship.css">
    <script src="../../../packages/components/dist/airship.js"></script>
  </head>

  <body>
    <div style="width: 250px">
      <as-histogram-widget
        show-header="false"
        show-clear>
      </as-histogram-widget>
    </div>
    <p id="selection">Nothing selected</p>
    <script>
      var histogramWidget = document.querySelector('as-histogram-widget');
      histogramWidget.data = [
        { start: 0, end: 10, value: 5 },
        { start: 10, end: 20, value: 10 },
        { start: 20, end: 30, value: 15 },
        { start: 30, end: 40, value: 20 },
        { start: 40, end: 50, value: 30 },
      ];

      histogramWidget.tooltipFormatter = function (data) {
        return histogramWidget.defaultFormatter(data) + ' kg';
      }

      var selectionEl = document.querySelector('#selection');
      histogramWidget.addEventListener('selectionChanged', function (e) {
        if (e.detail === null) {
          selectionEl.innerText = 'Nothing selected';
        } else {
          selectionEl.innerText = 'Selected from ' + e.detail[0] + ' to ' + e.detail[1];
        }
      });
    </script>
  </body>
</html>
