as-gauge-widget {
  --as--gauge-widget--background-color: var(--as--color--ui-01, #{$color-ui-01});
  --as--gauge-widget--label-title--font-size: var(--as--size--font-03, #{$font-size-03});
  --as--gauge-widget--label-title--font-weight: normal;
  --as--gauge-widget--label-title--line-height: 1.5;
  --as--gauge-widget--label-title--color: var(--as--color--ui-03, #{$color-ui-03});
  --as--gauge-widget--label-value--font-size: var(--as--size--font-04, #{$font-size-04});
  --as--gauge-widget--label-value--font-weight: bold;
  --as--gauge-widget--label-value--line-height: 1.33;
  --as--gauge-widget--label-value--color: var(--as--color--type-01, #{$color-type-01});
  --as--gauge-widget--label-value--symbol--font-size: var(--as--size--font-04, #{$font-size-04});
  --as--gauge-widget--label-value--symbol--font-weight: normal;
  --as--gauge-widget--label-value--symbol--line-height: 1.33;
  --as--gauge-widget--label-value--symbol--color: var(--as--color--type-02, #{$color-type-02});
  --as--gauge-widget--tick--font-size: var(--as--size--font-02, #{$font-size-02});
  --as--gauge-widget--tick--color: var(--as--color--ui-05, #{$color-ui-05});
  --as--gauge-widget--tick--line-height: 1.33;
  --as--gauge-widget--tick--font-weight: normal;
  --as--gauge-widget--tooltip--border-radius: 4px;
  --as--gauge-widget--tooltip--background-color: var(--as--color--type-01, #{$color-type-01});
  --as--gauge-widget--tooltip--font-size: var(--as--size--font-02, #{$font-size-02});
  --as--gauge-widget--tooltip--line-height: 1.67;
  --as--gauge-widget--tooltip--color: var(--as--color--ui-01, #{$color-ui-01});

  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 228px;
  height: 100%;
  max-height: 100%;
  background: var(--as--gauge-widget--background-color);

  .as-gauge-wrapper {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    min-height: 136px;

    .as-gauge-label {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 60%;
      transform: translate3d(-50%, 0, 0);
      text-align: center;

      .as-gauge-label-title {
        margin: 0 0 4px;
        overflow: hidden;
        color: var(--as--gauge-widget--label-title--color);
        font-size: var(--as--gauge-widget--label-title--font-size);
        font-weight: var(--as--gauge-widget--label-title--font-weight);
        line-height: var(--as--gauge-widget--label-title--line-height);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .as-gauge-label-value-wrapper {
        display: flex;
        justify-content: center;
      }

      .as-gauge-label-value {
        margin: 0;
        color: var(--as--gauge-widget--label-value--color);
        font-size: var(--as--gauge-widget--label-value--font-size);
        font-weight: var(--as--gauge-widget--label-value--font-weight);
        line-height: var(--as--gauge-widget--label-value--line-height);
      }

      .as-gauge-symbol {
        margin: 0;
        color: var(--as--gauge-widget--label-value--symbol--color);
        font-size: var(--as--gauge-widget--label-value--font-size);
        font-weight: var(--as--gauge-widget--label-value--symbol--font-weight);
        line-height: var(--as--gauge-widget--label-value--symbol--line-height);
      }
    }

    .tick {
      fill: var(--as--gauge-widget--tick--color);
      font-size: var(--as--gauge-widget--tick--font-size);
      font-weight: var(--as--gauge-widget--tick--font-weight);
      line-height: var(--as--gauge-widget--tick--line-height);
      text-align: center;
    }

    .as-gauge-tooltip {
      display: flex;
      position: absolute;
      z-index: 5;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: auto;
      min-width: 40px;
      height: 28px;
      padding: 0 8px;
      transform: translateX(-50%);
      border-radius: var(--as--gauge-widget--tooltip--border-radius);
      opacity: 0;
      background-color: var(--as--gauge-widget--tooltip--background-color);
      pointer-events: none;

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: calc(50% - 4px);
        border-width: 4px 4px 0;
        border-style: solid;
        border-color: var(--as--gauge-widget--tooltip--background-color) transparent transparent;
      }

      .as-gauge-tooltip-value {
        width: 100%;
        color: var(--as--gauge-widget--tooltip--color);
        font-size: var(--as--gauge-widget--tooltip--font-size);
        line-height: var(--as--gauge-widget--tooltip--line-height);
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}
