@import '../../../../../styles/src/core/_dev';

as-legend-size-line {
  --as-legend-size-line--border-color: rgba(0, 0, 0, 0.1);
  --as-legend-size-line--color: var(--as--color--type-01);
  display: block;

  .as-legend-size-line--outer-wrapper {
    display: flex;

    &.as-legend-size-line--vertical {
      flex-direction: row;
    }

    &.as-legend-size-line--horizontal {
      flex-direction: column;
    }
  }

  .as-legend-size-line--wrapper {
    display: flex;
    align-items: center;
  }

  .as-legend-size-line--labels {
    align-items: flex-start;
  }

  .as-legend-size-line--horizontal {
    .as-legend-size-line--wrapper {
      min-width: 300px;
    }

    .as-legend-size-line--labels {
      margin-top: get-spacing(2);
    }
  }

  .as-legend-size-line--label {
    flex: 1;
    color: var(--as-legend-size-line--color);
    font: var(--as--font--caption);
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
  }

  .as-legend-size-line--vertical {
    .as-legend-size-line--wrapper {
      flex-direction: column;
      min-height: 300px;
    }

    .as-legend-size-line--label {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .as-legend-size-line--labels {
      margin-left: get-spacing(2);
    }
  }

  .as-legend-size-line--step {
    flex: 1;
    border: 1px solid var(--as-legend-size-line--border-color);
    box-shadow: -1px 0 2px 0 var(--as-legend-size-line--border-color);
  }

  .as-legend-size-line--horizontal .as-legend-size-line--step {
    height: 8px;
  }

  .as-legend-size-line--vertical .as-legend-size-line--step {
    width: 8px;
  }
}
