.as-banner {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 0;
  background-color: var(--as-color-ui-04, #{$color-ui-04});
  font: $font-body;

  &__content {
    flex: 1;
    padding: 0 8px;
  }

  &__icon {
    display: flex;
    flex: 0 0 auto;
  }

  &--support-01 {
    background: var(--as-color-support-01, #{$color-support-01});
  }

  &--support-02 {
    background: var(--as-color-support-02, #{$color-support-02});
  }

  &--support-03 {
    background: var(--as-color-support-03, #{$color-support-03});
  }
}
