@import "../core/_dev";

.as-banner {
  --as-banner--background-color: var(--as--color--ui-04, #{$color-ui-04});

  display: flex;
  box-sizing: border-box;
  align-items: flex-start;
  padding: get-spacing(3);
  border-radius: 0;
  background-color: var(--as-banner--background-color);
  font: $font-body;

  &__content {
    flex: 1;
    padding-left: get-spacing(2);
  }

  &__icon {
    display: flex;
    padding-top: get-spacing(1);
  }

  &--error {
    background-color: var(--as--color--error, #{$color-error});
  }

  &--warning {
    background-color: var(--as--color--warning, #{$color-warning});
  }

  &--success {
    background-color: var(--as--color--success, #{$color-success});
  }

  @media all and (min-width: $tablet-breakpoint) {
    align-items: baseline;

    &__icon {
      padding: 0;
    }
  }
}
