@import "../core/_dev";

.as-radio {
  display: flex;
  align-items: center;
  margin-bottom: get-spacing(2);

  &__input {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    appearance: none;
    transition: all 0.3s;
    border: none;
    border-radius: 50%;
    background: none;
    box-shadow: inset 0 0 0 1px var(--as--color--alpha-shadow-01, #{$color-alpha-shadow-01});
    cursor: pointer;
    -webkit-appearance: none;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 3px);
      width: 6px;
      height: 6px;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: inset 0 0 0 1px var(--as--color--complementary);
    }

    &:checked {
      box-shadow: inset 0 0 0 1px var(--as--color--primary);

      &::after {
        animation: radioIn 300ms;
        opacity: 1;
        animation-fill-mode: forwards;
        background-color: var(--as--color--primary);
      }
    }

    &:focus {
      outline: none;
      box-shadow: inset 0 0 0 2px var(--as--color--primary);
    }

    &:disabled {
      background-color: var(--as--color--ui-03);
      box-shadow: inset 0 0 0 1px var(--as--color--alpha-shadow-01, #{$color-alpha-shadow-01});
      cursor: not-allowed;
    }

    &:checked:disabled {
      box-shadow: inset 0 0 0 1px var(--as--color--alpha-shadow-01, #{$color-alpha-shadow-01});

      &::after {
        background-color: var(--as--color--alpha-shadow-01, #{$color-alpha-shadow-01});
      }
    }

    + label {
      margin-left: 8px;
    }
  }
}

@keyframes radioIn {
  from {
    transform: scale3d(0.3, 0.3, 0.3);
    transform-origin: 50% 50%;
    opacity: 0;
  }

  to {
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}
